.allSettingSite{
    .allSettingCommentTop{
        margin: 1rem;
        display: grid;
        grid-template-columns: auto 1fr;
        h1{
            color: $text2;
        }
        .allSettingCommentTitle{
            display: grid;
            grid-template-columns: repeat(auto-fit , minmax(2px , auto));
            justify-content: left;
            align-items: center;
            grid-gap: .5rem;
            span{
                color: $text2;
                font-weight: 400;
                font-size:.95rem;
            }
            a{
                color: $text2;
                font-weight: 400;
                font-size:.95rem;
                &:last-child{
                    color: $blue;
                }
            }
        }
    }
    .allSettingSiteContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        margin: 1rem;
        .allSettingSiteItems{
            background: white;
            padding: 1rem;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
            border-radius: .2rem;
            input,textarea{
                resize: vertical;
                border: 1px solid $border1;
                padding: 0.3rem .5rem;
                color: $text1;
                border-radius: .3rem;
                font-size: .7rem;
                transition: all .3s ease-in-out;
                resize: vertical;
                outline: transparent;
                &:focus{
                    box-shadow: 0 3px 8px 0 rgba(0,0,0,.1);
                    border: 1px solid $blue;
                }
            }
            .settingCommunication{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 1rem;
                margin: 1rem 0;
                .allSettingSiteItem{
                    margin-bottom: 0;
                }
            }
            .allSettingSiteItem{
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: .5rem;
                margin-bottom: 1rem;
                label{
                    color: $text2;
                    font-weight: 500;
                    font-size: .8rem;
                }
                .sendGallery{
                    background: white;
                    margin-bottom: 1rem;
                    border-radius: .2rem;
                    display: grid;
                    grid-template-columns: 1fr;
                    justify-content: center;
                    .getImageItem{
                        height: 12rem;
                        border-radius: .4rem;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        grid-gap: 1rem;
                        border: 2px dashed $border1;
                        span{
                            color: $text2;
                            font-size: .7rem;
                            font-weight: 300;
                        }
                        .getImagePic{
                            img{
                                height: 10rem;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
            .allSettingSiteRole{
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;
                grid-gap: 1rem;
                margin-bottom: 1rem;
                label{
                    color: $text2;
                    font-weight: 500;
                    font-size: .8rem;
                }
                .allCategoryPanel{
                    position: relative;
                    .categoryShow{
                        background: #EEEEEE;
                        display: grid;
                        grid-template-columns: 1fr auto;
                        align-items: center;
                        justify-content: space-between;
                        padding: .7rem;
                        border-radius: .2rem;
                        cursor: pointer;
                        h4{
                            font-weight: 450;
                            font-size: .7rem;
                        }
                        i{
                            position: relative;
                            svg{
                                width: .8rem;
                                height: .8rem;
                            }
                        }
                        ul{
                            position: relative;
                            box-shadow: 0 0 0;
                            background: transparent;
                            border-radius: 0;
                            height: auto;
                            direction: rtl;
                            top: auto;
                            right: auto;
                            display: grid;
                            grid-template-columns: repeat(auto-fit ,minmax(5rem,auto));
                            justify-content: right;
                            align-items: center;
                            grid-gap: 1rem;
                            z-index: 1;
                            li{
                                position: relative;
                                padding: 0;
                                z-index: 1;
                                i{
                                    position: absolute;
                                    top: -.3rem;
                                    right: -.3rem;
                                    width: .6rem;
                                    height: .6rem;
                                    border-radius: 5rem;
                                    display: grid;
                                    justify-content: center;
                                    align-items: center;
                                    border: 1px solid black;
                                    svg{
                                        width: .3rem;
                                        height: .3rem;
                                    }
                                }
                                span{
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    padding: .4rem;
                                    background: #F6F6F6;
                                    border-radius: .2rem;
                                    color: rgb(22, 31, 106);
                                    font-size: .75rem;
                                    font-weight: 300;
                                }
                                &:hover{
                                    background: transparent;
                                }
                            }
                        }
                    }
                    ul{
                        position: absolute;
                        top: 110%;
                        right: 0;
                        box-shadow: rgba(0, 0, 0, 0.16) 0 1px 3px;
                        background: white;
                        border-radius: .2rem;
                        width: 100%;
                        height: 12rem;
                        direction: ltr;
                        z-index: 9000;
                        .scroll-area {
                            position: relative;
                            margin: auto;
                            width: 100%;
                            height: 12rem;
                        }
                        li{
                            direction: rtl;
                            padding: .5rem;
                            padding-right: 1rem;
                            transition: all .3s ease-in-out;
                            cursor: pointer;
                            &:hover{
                                background: #F6F6F6;
                            }
                        }
                    }
                }
            }
            .captchaItem{
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: .5rem;
                .item{
                    display: grid;
                    grid-template-columns: auto auto;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 .5rem;
                    border-radius: .4rem;
                    height: 3rem;
                    color: $text2;
                    font-weight: 500;
                    font-size: .8rem;
                    cursor: pointer;
                    @supports(-webkit-appearance: none) or (-moz-appearance: none) {
                        input[type='checkbox'],
                        input[type='radio'] {
                            --active: #275EFE;
                            --active-inner: #fff;
                            --focus: 2px rgba(39, 94, 254, .3);
                            --border: #BBC1E1;
                            --border-hover: #275EFE;
                            --background: #fff;
                            --disabled: #F6F8FF;
                            --disabled-inner: #E1E6F9;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            height: 21px;
                            outline: none;
                            display: inline-block;
                            vertical-align: top;
                            position: relative;
                            margin: 0;
                            cursor: pointer;
                            border: 1px solid var(--bc, var(--border));
                            background: var(--b, var(--background));
                            transition: background .3s, border-color .3s, box-shadow .2s;
                            &:after {
                                content: '';
                                display: block;
                                left: 0;
                                top: 0;
                                position: absolute;
                                transition: transform var(--d-t)  var(--d-t-e, ease), opacity var(--d-o, .2s);
                            }
                            &:checked {
                                --b: var(--active);
                                --bc: var(--active);
                                --d-o: .3s;
                                --d-t: .6s;
                                --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
                            }
                            &:disabled {
                                --b: var(--disabled);
                                cursor: not-allowed;
                                opacity: .9;
                                &:checked {
                                    --b: var(--disabled-inner);
                                    --bc: var(--border);
                                }
                                & + label {
                                    cursor: not-allowed;
                                }
                            }
                            &:hover {
                                &:not(:checked) {
                                    &:not(:disabled) {
                                        --bc: var(--border-hover);
                                    }
                                }
                            }
                            &:focus {
                                box-shadow: 0 0 0 var(--focus);
                            }
                            &:not(.switch) {
                                width: 21px;
                                &:after {
                                    opacity: var(--o, 0);
                                }
                                &:checked {
                                    --o: 1;
                                }
                            }
                            & + label {
                                font-size: 14px;
                                line-height: 21px;
                                display: inline-block;
                                vertical-align: top;
                                cursor: pointer;
                                margin-left: 4px;
                            }
                        }
                        input[type='checkbox'] {
                            &:not(.switch) {
                                border-radius: 7px;
                                &:after {
                                    width: 5px;
                                    height: 9px;
                                    border: 2px solid var(--active-inner);
                                    border-top: 0;
                                    border-left: 0;
                                    left: 7px;
                                    top: 4px;
                                    transform: rotate(var(--r, 20deg));
                                }
                                &:checked {
                                    --r: 43deg;
                                }
                            }
                            &.switch {
                                width: 38px;
                                border-radius: 11px;
                                &:after {
                                    left: 2px;
                                    top: 2px;
                                    border-radius: 50%;
                                    width: 15px;
                                    height: 15px;
                                    background: var(--ab, var(--border));
                                    transform: translateX(var(--x, 0));
                                }
                                &:checked {
                                    --ab: var(--active-inner);
                                    --x: 17px;
                                }
                                &:disabled {
                                    &:not(:checked) {
                                        &:after {
                                            opacity: .6;
                                        }
                                    }
                                }
                            }
                        }
                        input[type='radio'] {
                            border-radius: 50%;
                            &:after {
                                width: 19px;
                                height: 19px;
                                border-radius: 50%;
                                background: var(--active-inner);
                                opacity: 0;
                                transform: scale(var(--s, .7));
                            }
                            &:checked {
                                --s: .5;
                            }
                        }
                    }
                }
            }
            .allSettingSiteShow{
                grid-gap: .5rem;
                margin-top: 1rem;
                label{
                    display: grid;
                    grid-template-columns: repeat(2,auto);
                    justify-content: space-between;
                    align-items: center;
                    color: $text2;
                    font-weight: 500;
                    font-size: .8rem;
                    input[type='number']{
                        width: 8rem;
                        padding: .3rem .5rem;
                        border-radius: .3rem;
                        background: #FAFAFA;
                        border: 1px solid $border1;
                        transition: all .3s ease-in-out;
                        color: $text2;
                        font-size: .7rem;
                        font-weight: 200;
                        &:focus{
                            border: 1px solid #9f9f9f;
                        }
                    }
                }
            }
        }
        .allTaxes{
            position: relative;
            .taxShow{
                display: grid;
                grid-template-columns: 1fr auto;
                align-items: center;
                width: 100%;
                padding: .4rem .5rem;
                border: 1.4px solid $border1;
                border-radius: .3rem;
                cursor: pointer;
                h4{
                    color: $text3;
                    font-size: .7rem;
                    font-weight: 300;
                }
                ul{
                    display: grid;
                    grid-template-columns: repeat(auto-fit ,minmax(6rem,auto));
                    justify-content: right;
                    align-items: center;
                    grid-gap: 1rem;
                    li{
                        position: relative;
                        padding: .4rem;
                        background: $lowBlue;
                        border-radius: .2rem;
                        color: $text2;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        text-align: center;
                        i{
                            position: absolute;
                            top: 0;
                            right: 0;
                            display: grid;
                            justify-content: center;
                            align-items: center;
                            svg{
                                fill:$text2;
                                width: .7rem;
                                height: .7rem;
                            }
                        }
                        span{
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            font-size: .65rem;
                            font-weight: 300;
                        }
                    }
                }
                svg{
                    width: .65rem;
                    height: .65rem;
                    fill: $text2;
                }
            }
            .showAllTaxes{
                position: absolute;
                top: 94%;
                right: 0;
                width: 100%;
                display: grid;
                background: white;
                grid-template-columns: 1fr;
                border-bottom-left-radius: .3rem;
                border-bottom-right-radius: .3rem;
                height: 15rem;
                direction: ltr;
                overflow: hidden;
                border: 1.4px solid $border1;
                border-top: 0;
                z-index: 80;
                .searchTax{
                    display: grid;
                    grid-template-columns: 1fr auto;
                    align-items: center;
                    cursor: auto;
                    height: 3rem;
                    border-bottom: 2px solid #F6F6F6;
                    input{
                        border-left: 0;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        transition: all .3s ease-in-out;
                        height: 100%;
                        &:focus{
                            border: 1px solid $blue;
                            box-shadow: 0 0 0 0;
                        }
                    }
                    button{
                        width: 2.3rem;
                        border: 1px solid $border1;
                        border-right: 0;
                        font-size: 1.1rem;
                        background: transparent;
                        border-radius: .3rem;
                        font-weight: 300;
                        transition: all .3s ease-in-out;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        height: 100%;
                        color: $text3;
                        &:hover{
                            background: $blue;
                            color: white;
                        }
                    }
                    &:hover{
                        background: white;
                    }
                }
                .scroll-area {
                    position: relative;
                    margin: auto;
                    width: 100%;
                    height: 15rem;
                }
                li{
                    direction: rtl;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    padding: .4rem;
                    color: $text3;
                    font-size: .75rem;
                    font-weight: 300;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                    height: 2rem;
                    &:hover{
                        background: $blue;
                        color: white;
                    }
                }
            }
        }
    }
    @media screen and (max-width:1000px) {
        .allSettingSiteContainer,.allSettingCommentTop{
            h1{
                margin-bottom: 1rem;
            }
            display: block;
            .allSettingSiteItems {
                .settingCommunication {
                    display: block;
                }
            }
        }
    }
    .button{
        direction: ltr;
        text-align: left;
        margin-left: 1rem;
        margin-bottom: 1rem;
        button{
            width: 10rem;
            padding: .5rem 1rem;
            border-radius: .3rem;
            background-color: $blue;
            color: #FFFFFF;
            box-shadow: 0 2px 4px 0 rgba(90, 141, 238, 0.5);
            transition: all .3s ease-in-out;
            &:hover{
                background-color: $blue2;
            }
        }
    }
}
