$headerPanel: #fff;
$green: #00C58D;
$blue: #5A8DEE;
$blue2: #2C6DE9;
$lowBlue: #E2EBFA;
$red: #FF2829;
$lowRed: #FF5B5C;
$text1: #727E8C;
$text2: #475F7B;
$text3: #8494A7;
$text4: #212529;
$text5: #524c969d;
$text6: #524c96;
$textFront: #313131;
$back: #F5F6F8;
$back2: #F2F4F4;
$border1: #DFE3E7;
$comparison: #2D2D2D;
$frontBack: #FAFAFA;
$frontBack2: #fff;
$border2:#e1e1e1;
$backFooter: #EEEEEE;
$blue3: #4E60FF;
$lowBlue2: #C4DBFA;
$frontBack3: #EEE8F6;
