@font-face {
    font-family: 'irsans';
    font-style: normal;
    font-weight: 900;
    src: url(fonts/irsans-b.eot);
    src: url(fonts/irsans-b.eot?#iefix) format("embedded-opentype"), url(fonts/irsans-b.woff) format("woff"), url(fonts/irsans-b.ttf) format("truetype")
}
@font-face {
    font-family: 'irsans';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/irsans-m.eot);
    src: url(fonts/irsans-m.eot?#iefix) format("embedded-opentype"), url(fonts/irsans-m.woff) format("woff"), url(fonts/irsans-m.ttf) format("truetype")
}
@font-face {
    font-family: 'irsans';
    font-style: normal;
    font-weight: 500;
    src: url(fonts/irsans.eot);
    src: url(fonts/irsans.eot?#iefix) format("embedded-opentype"), url(fonts/irsans.woff) format("woff"), url(fonts/irsans.ttf) format("truetype")
}
@font-face {
    font-family: 'irsans';
    font-style: normal;
    font-weight: 300;
    src: url(fonts/irsans-l.eot);
    src: url(fonts/irsans-l.eot?#iefix) format("embedded-opentype"), url(fonts/irsans-l.woff) format("woff"), url(fonts/irsans-l.ttf) format("truetype")
}
@font-face {
    font-family: 'irsans';
    font-style: normal;
    font-weight: 100;
    src: url(fonts/irsans-u.eot);
    src: url(fonts/irsans-u.eot?#iefix) format("embedded-opentype"), url(fonts/irsans-u.woff) format("woff"), url(fonts/irsans-u.ttf) format("truetype")
}
i,
i:before {
    font-family: laravel
}
html {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-family: 'irsans', irsans, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    scroll-behavior: smooth;
    height: 100%;
}
* {
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    line-height: normal;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    display: inline-block
}
input, textarea, select, select option, button{
    font-family: 'irsans', irsans, sans-serif;
}
button, input[type='submit']{
    cursor: pointer;
}
input:focus{
    outline: 0;
}
li,
a {
    text-decoration: none;
    transition: all .3s ease-in-out;
    outline: 0;
}
li{
    transition:none
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@import "variables";
body {
    direction: rtl;
    font-family: 'irsans', irsans, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: right;
    overflow-x: hidden;
    height: 100%;
    background: $back;
    .allPanel{
        padding-right: 17rem;
        padding-top: 50px;
        background: $back;
        min-height: 100%;
    }
    @media screen and (max-width:1000px) {
        .allPanel{
            padding-right: 0;
        }
    }
}
@import "admin/header/headerPanel";
@import "admin/sideBar/sideBarPanel";
@import "admin/gallery/galleryPanel";
@import "admin/user/userPanel";
@import "admin/role/rolePanel";
@import "admin/taxonami/allTaxonami";
@import "admin/table/allTable";
@import "admin/setting/siteSetting";
@import "admin/setting/seo";
@import "admin/setting/settingComment";
@import "admin/setting/templateSetting";
@import "admin/post/createPost";
@import "admin/post/allPost";
@import "admin/post/show";
@import "admin/excel/excelPanel";
@import "admin/pay/payPanel";
@import "admin/pack/packPanel";
@import "admin/comment/editComment";
@import "admin/paginatePanel";
@import "admin/showImage";
@import "admin/panel";
