@font-face {
    font-family: 'irsans';
    font-style: normal;
    font-weight: 900;
    src: url(fonts/irsans-b.eot);
    src: url(fonts/irsans-b.eot?#iefix) format("embedded-opentype"), url(fonts/irsans-b.woff) format("woff"), url(fonts/irsans-b.ttf) format("truetype")
}
@font-face {
    font-family: 'irsans';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/irsans-m.eot);
    src: url(fonts/irsans-m.eot?#iefix) format("embedded-opentype"), url(fonts/irsans-m.woff) format("woff"), url(fonts/irsans-m.ttf) format("truetype")
}
@font-face {
    font-family: 'irsans';
    font-style: normal;
    font-weight: 500;
    src: url(fonts/irsans.eot);
    src: url(fonts/irsans.eot?#iefix) format("embedded-opentype"), url(fonts/irsans.woff) format("woff"), url(fonts/irsans.ttf) format("truetype")
}
@font-face {
    font-family: 'irsans';
    font-style: normal;
    font-weight: 300;
    src: url(fonts/irsans-l.eot);
    src: url(fonts/irsans-l.eot?#iefix) format("embedded-opentype"), url(fonts/irsans-l.woff) format("woff"), url(fonts/irsans-l.ttf) format("truetype")
}
@font-face {
    font-family: 'irsans';
    font-style: normal;
    font-weight: 100;
    src: url(fonts/irsans-u.eot);
    src: url(fonts/irsans-u.eot?#iefix) format("embedded-opentype"), url(fonts/irsans-u.woff) format("woff"), url(fonts/irsans-u.ttf) format("truetype")
}
i,
i:before {
    font-family: laravel
}
html {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-family: 'irsans', irsans, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
}
* {
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    line-height: normal;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    display: inline-block
}
input, textarea, select, select option, button{
    font-family: 'irsans', irsans, sans-serif;
}
button, input[type='submit']{
    cursor: pointer;
    outline: transparent;
}
input:focus{
    outline: 0;
}
li,
a {
    text-decoration: none;
    transition: all .3s ease-in-out;
    outline: 0;
}
li{
    transition:none
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

@import "variables";
body {
    direction: rtl;
    font-family: 'irsans', irsans, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: right;
    overflow-x: hidden;
    height: 100%;
    background: #fafafa;
    padding-top: 6rem;
    .width{
        width: 70%;
    }
    @media screen and (max-width:1800px) {
        .width{
            width: 85%;
        }
    }
    @media screen and (max-width:1600px) {
        .width{
            width: 90%;
        }
    }
    @media screen and (max-width:1400px) {
        .width{
            width: 95%;
        }
    }
    @media screen and (max-width:1300px) {
        .width{
            width: 98%;
        }
    }
}
@import "admin/paginatePanel";
@import "home/index/suggestIndex";
@import "home/index/categoryPost";
@import "home/index/allBrand";
@import "home/index/allAds";
@import "home/index/allHooper";
@import "home/index/allIndex";
@import "home/index/searchAdvance";
@import "home/index/allCategory";
@import "home/index/adHooper";
@import "home/index/allSurprising";
@import "home/index/packIndex";
@import "home/index/newsIndex";
@import "home/single/allSingle";
@import "home/single/singleNews";
@import "home/single/packSingle";
@import "home/single/allComment";
@import "home/archive/allArchive";
@import "home/archive/allPack";
@import "home/archive/allNews";
@import "home/header/headerIndex";
@import "home/footer/footerIndex";
@import "home/user/showPay";
@import "home/user/userIndex";
@import "home/user/auth";
@import "home/cart/cartIndex";
@import "home/cart/userCart";
@import "home/cart/buyIndex";
@import "home/page/pageIndex";
@import "home/allShowFast";
