.allBrand{
    .allBrandItems{
        margin: auto;
        margin-top: 2rem;
        background: white;
        box-shadow: 0 12px 12px 0 hsla(0, 0%, 71%, .11);
        border-radius: 10px;
        overflow: hidden;
        .allHooperItemsTitle{
            z-index: 10;
            position: relative;
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            padding: 0 1rem;
            h3{
                padding: 1rem;
                color: $textFront;
                font-size: 1.2rem;
                font-weight: 500;
                border-bottom: 2px solid $blue3;
                height: 4rem;
            }
            .allHooperItemsTitleBlock{
                height: 4rem;
                border-bottom: 2px solid #fafafa;
            }
        }
        .hooper{
            height: 17rem;
            position: relative;
            outline: transparent;
            .hooper-navigation.is-rtl{
                .hooper-next{
                    left: -1.2rem;
                }
                .is-disabled{
                    visibility: hidden;
                }
                .hooper-prev{
                    right: -1.2rem;
                }
                button{
                    svg{
                        background: white;
                        width: 3rem;
                        height: 5rem;
                        padding: .3rem;
                        border-radius: 10px;
                        box-shadow: 0 0 5px rgba(0,0,0,.05);
                        fill: $textFront;
                    }
                }
            }
            .hooper-list{
                .hooper-track{
                    padding: 1rem 0;
                    .hooper-slide{
                        transition: all .3s ease-in-out;
                        border-radius: 10px;
                        overflow: hidden;
                        .allBrandPost{
                            position: relative;
                            img{
                                width: 100%;
                                object-fit: contain;
                                height: 15rem;
                            }
                            span{
                                position: absolute;
                                top: -1rem;
                                left: 1rem;
                                text-align: center;
                                opacity: 0;
                                visibility: hidden;
                                font-size: .9rem;
                                font-weight: 300;
                                color: white;
                                background: $green;
                                padding: .2rem 1rem;
                                border-radius: 5px;
                                transition: all .3s ease-in-out;
                            }
                        }
                        &:hover{
                            box-shadow: 0 0 5px 0 rgba(41,44,58,0.1);
                            .allBrandPost {
                                span{
                                    top: 1rem;
                                    visibility: visible;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media screen and (max-width:800px) {
            .hooper{
                height: 12rem;
                .hooper-navigation.is-rtl{
                    button{
                        svg{
                            width: 2rem;
                            height: 2rem;
                        }
                    }
                }
                .hooper-list{
                    .hooper-track{
                        .hooper-slide{
                            padding: 0 .5rem;
                            .allBrandPost{
                                position: relative;
                                img{
                                    height: 10rem;
                                }
                                span{
                                    font-size: .7rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
