.allCategory{
    margin: auto;
    margin-top: 2rem;
    border-radius: 10px;
    .allCategoryItemsTitle{
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
        color: rgb(43, 52, 69);
        text-align: center;
    }
    .allCategoryItems{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(15rem , 1fr));
        align-items: center;
        grid-gap: 1rem;
        .allCategoryItem{
            a{
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;
                box-shadow: 0 12px 12px 0 hsla(0, 0%, 71%, .11);
                background: white;
                padding: 1rem;
                grid-gap: .5rem;
                text-align: right;
                border-radius: 10px;
                img{
                    width: 4rem;
                    height: 4rem;
                    object-fit: contain;
                }
                h4{
                    font-size: 1rem;
                    font-weight: 300;
                    color: $text2;
                    transition: all .3s ease-in-out;
                }
                span{
                    font-size: .7rem;
                    font-weight: 300;
                    color: $text3;
                    opacity: .6;
                }
                &:hover{
                    box-shadow: 0 12px 12px 0 hsla(0, 0%, 71%, .21);
                }
            }
        }
    }
}
