.allNewsIndex{
    margin: auto;
    margin-top: 2rem;
    border-radius: 10px;
    overflow: hidden;
    background: $frontBack2;
    box-shadow: 0 12px 12px 0 hsla(0, 0%, 71%, .11);
    .title{
        z-index: 10;
        position: relative;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        padding: 0 1rem;
        h3{
            padding: 1rem;
            color: $textFront;
            font-size: 1.2rem;
            font-weight: 300;
            border-bottom: 2px solid $blue;
            height: 4rem;
        }
        .titleBlock{
            align-items: center;
            padding: 1rem;
            text-align: left;
            border-bottom: 2px solid $frontBack3;
            height: 4rem;
            a{
                text-align: left;
                font-size: .9rem;
                color: $text2;
                font-weight: 300;
            }
        }
    }
    .items{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        margin: 1rem;
        .item{
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            .pic{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .over{
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background: rgba(0,0,0,.6);
                display: grid;
                align-items: end;
                padding: 1rem;
                .subject{
                    display: grid;
                    h3{
                        font-size: .8rem;
                        font-weight: 500;
                        color: white;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    ul{
                        display: grid;
                        grid-template-columns: auto auto;
                        align-items: center;
                        grid-gap: 1rem;
                        justify-content: right;
                        margin-top: .5rem;
                        li{
                            display: grid;
                            grid-template-columns: auto auto;
                            align-items: center;
                            grid-gap: .3rem;
                            justify-content: right;
                            font-size: .7rem;
                            font-weight: 300;
                            color: white;
                            svg{
                                width: .85rem;
                                height: .85rem;
                                fill: white;
                            }
                        }
                    }
                    span{
                        position: absolute;
                        top: 1rem;
                        left: 1rem;
                        background: $green;
                        padding: .3rem 1rem;
                        font-size: .85rem;
                        font-weight: 300;
                        color: white;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
    @media screen and (max-width:800px) {
        .items{
            grid-template-columns: 1fr;
        }
    }
}
