.allPackIndex{
    margin: auto;
    margin-top: 2rem;
    border-radius: 10px;
    overflow: hidden;
    background: $frontBack2;
    box-shadow: 0 12px 12px 0 hsla(0, 0%, 71%, .11);
    .allPackIndexTitle{
        z-index: 10;
        position: relative;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        padding: 0 1rem;
        h3{
            padding: 1rem;
            color: $textFront;
            font-size: 1.2rem;
            font-weight: 300;
            border-bottom: 2px solid $blue;
            height: 4rem;
        }
        .allPackIndexTitleBlock{
            align-items: center;
            padding: 1rem;
            text-align: left;
            border-bottom: 2px solid $frontBack3;
            height: 4rem;
            a{
                text-align: left;
                font-size: .9rem;
                color: $text2;
                font-weight: 300;
            }
        }
    }
    .hooper{
        overflow: hidden;
        height: 27rem;
        outline: transparent;
        .hooper-list{
            .hooper-track{
                padding: 1rem 0;
                .hooper-slide{
                    padding: 0 .5rem;
                    .allPackIndexItem{
                        border-radius: .5rem;
                        border: 1px solid #f1f1f1;
                        transition: all .3s ease-in-out;
                        background: white;
                        position: relative;
                        a{
                            display: grid;
                            justify-content: center;
                            width: 100%;
                            text-align: center;
                            font-size: 1rem;
                            padding: .5rem;
                            color: #64656c;
                            .packPostCount{
                                position: absolute;
                                top: .5rem;
                                left: .5rem;
                                background: $green;
                                color: white;
                                font-size: .8rem;
                                font-weight: 300;
                                padding: .3rem 1rem;
                                border-radius: 5px;
                                display: grid;
                                grid-template-columns: auto auto;
                                justify-content: center;
                                align-items: center;
                                grid-gap: .2rem;
                                svg{
                                    width: 1rem;
                                    height: 1rem;
                                    fill: white;
                                    margin-left: .3rem;
                                }
                            }
                        }
                        ul{
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr;
                            grid-gap: .5rem;
                            height: 20rem;
                            li{
                                width: 100%;
                                height: 10rem;
                                img{
                                    border-radius: .5rem;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                }
                            }
                        }
                        .allPackIndexItemData{
                            display: grid;
                            grid-template-columns: 1fr auto;
                            margin-top: .5rem;
                            align-items: center;
                            padding: .5rem;
                            h3{
                                font-size: 1rem;
                                font-weight: 300;
                                color: $textFront;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                                text-align: right;
                                opacity: .7;
                            }
                            h4{
                                font-size: 1.2rem;
                                font-weight: 300;
                                color: $textFront;
                                span{
                                    font-size: .7rem;
                                    font-weight: 300;
                                    opacity: .7;
                                }
                            }
                        }
                        &:hover{
                            box-shadow: 0 12px 12px 0 hsla(0, 0%, 71%, .11);
                        }
                    }
                }
                @media screen and (max-width: 700px) {
                    .hooper-slide{
                        padding-right: 0;
                    }
                }
            }
        }
    }
}
