.allCartIndex{
    margin: auto;
    margin-top: 1rem;
    .allCartIndexAddress{
        padding-left: 20px;
        ul {
            list-style: none;
            display: grid;
            grid-template-columns: auto 1fr;
            justify-content: left;
            align-items: center;
            li {
                display: inline;
                a {
                    height: 40px;
                    background: $frontBack2;
                    text-align: center;
                    position: relative;
                    margin: 0 10px 0 0;
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-gap: .5rem;
                    justify-content: right;
                    padding: 0 2rem;
                    align-items: center;
                    transition: all .3s ease-in-out;
                    text-decoration: none;
                    h4{
                        font-weight: 300;
                        font-size: .9rem;
                        color: $text3;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    svg{
                        width: .9rem;
                        transition: all .3s ease-in-out;
                        height: .9rem;
                        fill: $blue;
                    }
                    &::before {
                        content: "";
                        border-top: 20px solid transparent;
                        border-bottom: 20px solid transparent;
                        border-right: 20px solid $frontBack2;
                        position: absolute;
                        left: -20px;
                        transition: all .3s ease-in-out;
                        top: 0;
                        z-index: 1;
                    }
                    &::after {
                        content: "";
                        border-top: 20px solid transparent;
                        border-bottom: 20px solid transparent;
                        transition: all .3s ease-in-out;
                        border-right: 20px solid #fafafa;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
            }
        }
    }
    .allCartIndexContainer{
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: 2rem;
        margin-top: 2rem;
        .allCartIndexContainerItems{
            .allCartIndexContainerItem{
                .allCartIndexPost{
                    display: grid;
                    grid-template-columns: auto 1fr;
                    grid-gap: 1rem;
                    margin-top: 2rem;
                    padding: 0.5rem;
                    background: $frontBack2;
                    border-radius: 10px;
                    overflow: hidden;
                    position: relative;
                    .allCartIndexContainerItemPic{
                        width: 13rem;
                        border-radius: 10px;
                        overflow: hidden;
                        height: 100%;
                        background: white;
                        img{
                            width: 13rem;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                    .allCartIndexContainerItemSubject{
                        display: grid;
                        .allCartIndexContainerItemSubjectData{
                            padding: 1rem;
                            h3{
                                font-size: 1rem;
                                font-weight: 300;
                                color: $textFront;
                            }
                            .allCartIndexContainerDataItem{
                                display: grid;
                                grid-template-columns: auto auto;
                                justify-content: right;
                                margin-top: .5rem;
                                grid-gap: .5rem;
                                align-items: center;
                                svg{
                                    width: .8rem;
                                    height: .8rem;
                                    fill: $text3;
                                }
                                p{
                                    font-size: .8rem;
                                    font-weight: 300;
                                    color: $text3;
                                }
                            }
                        }
                        .allCartIndexContainerItemSubjectPrice{
                            background-color: #fafafa;
                            border-style: none none solid none;
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            border-radius: 10px;
                            overflow: hidden;
                            .allCartIndexContainerItemSubjectPriceRight{
                                display: grid;
                                grid-template-columns: auto auto;
                                justify-content: right;
                                align-items: center;
                                .allCartIndexContainerItemPrice{
                                    padding: .3rem 1rem;
                                    font-size: 1rem;
                                    height: 100%;
                                    background: $blue;
                                    color: white;
                                    display: grid;
                                    align-items: center;
                                    letter-spacing: .01px;
                                }
                                .allCartIndexContainerItemOff{
                                    @extend .allCartIndexContainerItemPrice;
                                    background: #fafafa;
                                    color: $text3;
                                    font-size: .8rem;
                                    opacity: .7;
                                }
                            }
                            .allCartIndexContainerItemSubjectPriceLeft{
                                display: grid;
                                grid-template-columns: auto auto auto;
                                justify-content: left;
                                align-items: center;
                                button{
                                    display: grid;
                                    align-items: center;
                                    background: #f1f1f1;
                                    height: 100%;
                                    padding: 0 1.5rem;
                                    font-size: 1.5rem;
                                    color: $text3;
                                    &:first-child{
                                        color: $blue;
                                    }
                                }
                                img{
                                    width: 4rem;
                                    height: 2rem;
                                    object-fit: contain;
                                }
                                h5{
                                    display: grid;
                                    align-items: center;
                                    height: 100%;
                                    padding: 0 1.5rem;
                                    font-size: 1.2rem;
                                    color: $text4;
                                }
                            }
                        }
                    }
                    .allCartIndexContainerItemCancel{
                        position: absolute;
                        top: .5rem;
                        left: .5rem;
                        svg{
                            width: 1.2rem;
                            height: 1.2rem;
                            fill: $red;
                        }
                    }
                }
                &:first-child{
                    .allCartIndexPost{
                        margin-top: 0;
                    }
                }
            }
        }
        .allCartIndexItemNext{
            position: sticky;
            top: 9rem;
            background: $frontBack2;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            padding: 1rem;
            width: 17rem;
            height: 21.5rem;
            overflow: hidden;
            .WithoutOff , .postCount{
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-between;
                margin-bottom: .5rem;
                label{
                    color: #777;
                    font-size: .85rem;
                    font-weight: 300;
                }
                span{
                    color: #777;
                    font-weight: 300;
                    font-size: .9rem;
                    letter-spacing: 1px;
                }
            }
            .allOff{
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-between;
                padding-bottom: .5rem;
                border-bottom: 1px solid $border2;
                label{
                    color: $green;
                    font-size: .8rem;
                    font-weight: 300;
                }
                span{
                    color: $green;
                    font-weight: 300;
                    font-size: .85rem;
                    letter-spacing: 1px;
                }
            }
            .allMoney{
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-between;
                margin: 1rem 0;
                label{
                    color: #000;
                    font-size: .8rem;
                    font-weight: 500;
                }
                span{
                    color: #000;
                    font-weight: 500;
                    font-size: .85rem;
                    letter-spacing: 1px;
                }
            }
            .allSum{
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-between;
                margin: 1rem 0;
                label{
                    color: rgba(26, 10, 10, 0.65);
                    font-size: .8rem;
                    font-weight: 400;
                }
                span{
                    color: rgba(26, 10, 10, 0.65);
                    font-size: .8rem;
                    font-weight: 400;
                    letter-spacing: 1px;
                }
            }
            .sendMoney{
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-between;
                margin: 1rem 0;
                label{
                    color: #777;
                    font-size: .75rem;
                    font-weight: 300;
                }
                span{
                    color: #777;
                    font-size: .75rem;
                    font-weight: 300;
                    letter-spacing: 1px;
                }
            }
            .allProfit{
                @extend .sendMoney;
                span , label{
                    color: $green;
                    letter-spacing: 1px;
                }
            }
            .nextItem{
                display: grid;
                grid-template-columns: 1fr;
                justify-content: center;
                width: 15rem;
                a{
                    text-align: center;
                    padding: .5rem 1rem;
                    border: 1px solid $green;
                    color: $green;
                    margin-top: 1rem;
                    border-radius: .4rem;
                    &:hover{
                        background: $green;
                        border: 1px solid $green;
                        color: white;
                    }
                }
            }
        }
    }
    .allCartIndexEmpty{
        background: white;
        padding: 1rem;
        margin-top: 1rem;
        display: grid;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: .3rem;
        h3{
            color: $text3;
            margin-top: 1rem;
            font-size: 1rem;
        }
        p{
            color: $text2;
            margin-top: 1rem;
            font-size: .8rem;
        }
        .allCartIndexEmptyOptions{
            display: grid;
            grid-template-columns: repeat(auto-fit , minmax(2px , auto));
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            grid-gap: 1rem;
            a{
                border-bottom: 1px dashed #1ca2bd;
                color: #1ca2bd;
            }
        }
    }
}
@media screen and (max-width:1000px) {
    .allCartIndex{
        .allCartIndexAddress{
            ul {
                li {
                    a {
                        h4{
                            font-size: .6rem;
                        }
                        svg{
                            position: absolute;
                            top: 0;
                            visibility: hidden;
                        }
                    }
                }
            }
        }
        .allCartIndexContainer{
            .allCartIndexContainerItems{
                .allCartIndexContainerItem{
                    .allCartIndexPost{
                        .allCartIndexContainerItemSubject{
                            .allCartIndexContainerItemSubjectData{
                                h3{
                                    font-size: .8rem;
                                }
                                .allCartIndexContainerDataItem{
                                    svg{
                                        width: .6rem;
                                        height: .6rem;
                                    }
                                    p{
                                        font-size: .6rem;
                                    }
                                }
                            }
                            .allCartIndexContainerItemSubjectPrice{
                                .allCartIndexContainerItemSubjectPriceRight{
                                    .allCartIndexContainerItemPrice{
                                        padding: .3rem .5rem;
                                        font-size: .8rem;
                                    }
                                    .allCartIndexContainerItemOff{
                                        font-size: .6rem;
                                    }
                                }
                                .allCartIndexContainerItemSubjectPriceLeft{
                                    button{
                                        padding: 0 1rem;
                                        font-size: 1rem;
                                    }
                                    h5{
                                        padding: 0 1rem;
                                        font-size: .9rem;
                                    }
                                }
                            }
                        }
                        .allCartIndexContainerItemCancel{
                            svg{
                                width: 1rem;
                                height: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:800px) {
    .allCartIndex{
        .allCartIndexContainer{
            grid-template-columns: 1fr;
            .allCartIndexContainerItems{
                .allCartIndexContainerItem{
                    .allCartIndexPost{
                        .allCartIndexContainerItemPic{
                            width: 6rem;
                            img{
                                width: 6rem;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                        .allCartIndexContainerItemSubject{
                            .allCartIndexContainerItemSubjectData{
                                h3{
                                    font-size: .8rem;
                                }
                                .allCartIndexContainerDataItem{
                                    svg{
                                        width: .6rem;
                                        height: .6rem;
                                    }
                                    p{
                                        font-size: .6rem;
                                    }
                                }
                            }
                            .allCartIndexContainerItemSubjectPrice{
                                .allCartIndexContainerItemSubjectPriceRight{
                                    .allCartIndexContainerItemPrice{
                                        padding: .3rem .5rem;
                                        font-size: .8rem;
                                    }
                                    .allCartIndexContainerItemOff{
                                        font-size: .6rem;
                                    }
                                }
                                .allCartIndexContainerItemSubjectPriceLeft{
                                    button{
                                        padding: 0 1rem;
                                        font-size: 1rem;
                                    }
                                    h5{
                                        padding: 0 1rem;
                                        font-size: .9rem;
                                    }
                                }
                            }
                        }
                        .allCartIndexContainerItemCancel{
                            svg{
                                width: 1rem;
                                height: 1rem;
                            }
                        }
                    }
                }
            }
            .allCartIndexItemNext{
                width: 100%;
                .nextItem{
                    width: 100%;
                }
            }
        }
    }
}
