.allPersonalUser{
    margin: 1rem auto auto auto;
    .allCartIndexAddress{
        padding-left: 20px;
        ul {
            list-style: none;
            display: grid;
            grid-template-columns: auto auto 1fr;
            justify-content: left;
            align-items: center;
            li {
                display: inline;
                a {
                    height: 40px;
                    background: $frontBack2;
                    text-align: center;
                    position: relative;
                    margin: 0 10px 0 0;
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-gap: .5rem;
                    justify-content: right;
                    padding: 0 2rem;
                    align-items: center;
                    transition: all .3s ease-in-out;
                    text-decoration: none;
                    h4{
                        font-weight: 500;
                        font-size: .9rem;
                        color: $text3;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    svg{
                        width: .9rem;
                        transition: all .3s ease-in-out;
                        height: .9rem;
                        fill: $blue;
                    }
                    &::before {
                        content: "";
                        border-top: 20px solid transparent;
                        border-bottom: 20px solid transparent;
                        border-right: 20px solid $frontBack2;
                        position: absolute;
                        left: -19px;
                        transition: all .3s ease-in-out;
                        top: 0;
                        z-index: 1;
                    }
                    &::after {
                        content: "";
                        border-top: 20px solid transparent;
                        border-bottom: 20px solid transparent;
                        transition: all .3s ease-in-out;
                        border-right: 20px solid #fafafa;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                    &:hover {
                        background: $blue;
                        h4{
                            color:#fff;
                        }
                        svg{
                            fill: white;
                        }
                        &::before {
                            border-right-color: $blue;
                            color:#fff;
                        }
                    }
                }
            }
        }
    }
    .allPersonalUserBot{
        display: grid;
        grid-template-columns: 1fr auto;
        grid-gap: 1rem;
        margin-top: 1rem;
        .userCartData{
            .personalInfo{
                background: $frontBack2;
                border-radius: 10px;
                overflow: hidden;
                padding: 1rem;
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 1rem;
                .errorsCreate{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: right;
                    align-items: center;
                    grid-gap: 1rem;
                    background: #F5D2D2;
                    border-top: 5px solid #e75f55;
                    color: #6b1110;
                    border-radius: .2rem;
                    padding: .5rem 1rem;
                    i{
                        svg{
                            width: 1rem;
                            height: 1rem;
                        }
                    }
                    span{
                        font-size: .75rem;
                        font-weight: 400;
                    }
                }
                .personalInfoItems{
                    display: grid;
                    grid-template-columns: repeat(auto-fit , minmax(13rem , 1fr));
                    grid-gap: 1rem;
                    .personalInfoItem{
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-gap: .5rem;
                        label{
                            font-size: .8rem;
                            font-weight: 300;
                            line-height: 1.692;
                            color: #858585;
                        }
                        input{
                            padding: .5rem .8rem;
                            background: #fafafa;
                            border: 2px solid #fafafa;
                            border-radius: .2rem;
                            width: 100%;
                            transition: all .3s ease-in-out;
                            font-size: .75rem;
                            font-weight: 300;
                            &:focus{
                                border: 2px solid $blue;
                            }
                        }
                    }
                    &:nth-last-child(3){
                        .personalInfoItem{
                            &:last-child{
                                input{
                                    padding: .2rem .5rem;
                                    border-top-right-radius: 0;
                                    border-bottom-right-radius: 0;
                                }
                            }
                        }
                    }
                }
                .personalInfoButton{
                    display: grid;
                    justify-content: left;
                    button{
                        text-align: center;
                        color: $blue2;
                        padding: .5rem 1rem;
                        width: 10rem;
                        border: 1px solid $blue2;
                        background: transparent;
                        border-radius: .4rem;
                        transition: all .3s ease-in-out;
                        font-size: .7rem;
                        &:hover{
                            background: $blue2;
                            color: white;
                        }
                    }
                }
            }
            .cartDays{
                background: $frontBack2;
                border-radius: 10px;
                overflow: hidden;
                padding: 1rem;
                margin-top: 1rem;
                .cartDaysTitle{
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: $text2;
                    margin-bottom: 1rem;
                }
                ul{
                    display: grid;
                    grid-template-columns: repeat(auto-fill , minmax(6rem , 1fr));
                    grid-gap: 1rem;
                    align-items: center;
                    li{
                        h3{
                            font-size: 1rem;
                            font-weight: 300;
                            color: $text2;
                        }
                        p{
                            font-size: .7rem;
                            font-weight: 300;
                            color: $text2;
                            opacity: .7;
                            display: grid;
                            grid-template-columns: auto auto;
                            justify-content: right;
                            align-items: center;
                            grid-gap: .3rem;
                        }
                        .dayItem{
                            h4{
                                font-size: .9rem;
                                text-align: center;
                                font-weight: 500;
                                color: $text2;
                            }
                            h5{
                                margin-top: .5rem;
                                font-size: .8rem;
                                text-align: center;
                                opacity: .7;
                                font-weight: 300;
                                color: $text2;
                            }
                            div{
                                cursor: pointer;
                                border: 2px solid #f5f5f5;
                                padding: .5rem 1rem;
                                border-radius: 10px;
                                margin-top: .5rem;
                            }
                            .active{
                                border: 2px solid $green;
                                h4{
                                    color: $green;
                                }
                            }
                        }
                    }
                }
            }
        }
        .allCartIndexItemNext{
            position: sticky;
            top: 9rem;
            background: $frontBack2;
            border-radius: 10px;
            padding: 1rem;
            width: 17rem;
            height: 29rem;
            .WithoutOff , .postCount{
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-between;
                margin-bottom: .5rem;
                label{
                    color: #777;
                    font-size: .85rem;
                    font-weight: 300;
                }
                span{
                    color: #777;
                    font-weight: 300;
                    font-size: .9rem;
                    letter-spacing: 1px;
                }
            }
            .allOff{
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-between;
                padding-bottom: .5rem;
                border-bottom: 1px solid $border2;
                label{
                    color: $green;
                    font-size: .8rem;
                    font-weight: 300;
                }
                span{
                    color: $green;
                    font-weight: 300;
                    font-size: .85rem;
                    letter-spacing: 1px;
                }
            }
            .allMoney{
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-between;
                margin: 1rem 0;
                label{
                    color: #000;
                    font-size: .8rem;
                    font-weight: 500;
                }
                span{
                    color: #000;
                    font-weight: 500;
                    font-size: .85rem;
                    letter-spacing: 1px;
                }
            }
            .allSum{
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-between;
                margin: 1rem 0;
                label{
                    color: rgba(26, 10, 10, 0.65);
                    font-size: .8rem;
                    font-weight: 400;
                }
                span{
                    color: rgba(26, 10, 10, 0.65);
                    font-size: .8rem;
                    font-weight: 400;
                    letter-spacing: 1px;
                }
            }
            .sendMoney{
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-between;
                margin: 1rem 0;
                label{
                    color: #777;
                    font-size: .75rem;
                    font-weight: 300;
                }
                span{
                    color: #777;
                    font-size: .75rem;
                    font-weight: 300;
                    letter-spacing: 1px;
                }
            }
            .allProfit{
                @extend .sendMoney;
                span , label{
                    color: $green;
                    letter-spacing: 1px;
                }
            }
            .allCarrier{
                display: grid;
                grid-gap: .5rem;
                margin-top: 1rem;
                label{
                    color: $text2;
                    font-size: .8rem;
                    font-weight: 300;
                    letter-spacing: .1px;
                }
                .allCategoryPanel{
                    position: relative;
                    .categoryShow{
                        border: 1.4px solid $border1;
                        display: grid;
                        grid-template-columns: 1fr auto;
                        padding: .5rem 1rem;
                        border-radius: .3rem;
                        cursor: pointer;
                        h4{
                            color: $text3;
                            font-size: .8rem;
                            font-weight: 400;
                        }
                        i{
                            display: grid;
                            justify-content: center;
                            align-items: center;
                            svg{
                                width: 0.8rem;
                                height: 0.8rem;
                                fill: $text2;
                            }
                        }
                    }
                    ul{
                        position: absolute;
                        top: 94%;
                        right: 0;
                        width: 100%;
                        background: white;
                        border-bottom-left-radius: .3rem;
                        border-bottom-right-radius: .3rem;
                        max-height: 15rem;
                        direction: ltr;
                        overflow: hidden;
                        border: 1.4px solid $border1;
                        border-top: 0;
                        z-index: 80;
                        .scroll-area {
                            position: relative;
                            margin: auto;
                            width: 100%;
                            max-height: 15rem;
                        }
                        li{
                            direction: rtl;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            padding: .4rem;
                            padding-right: 1rem;
                            color: $text3;
                            font-size: .75rem;
                            font-weight: 300;
                            cursor: pointer;
                            transition: all .3s ease-in-out;
                            min-height: 2rem;
                            &:hover{
                                background: $green;
                                color: white;
                            }
                        }
                    }
                }
            }
            .nextItem{
                display: grid;
                grid-template-columns: 1fr;
                justify-content: center;
                width: 15rem;
                a{
                    text-align: center;
                    padding: .5rem 1rem;
                    border: 1px solid $green;
                    color: $green;
                    margin-top: 1rem;
                    border-radius: .4rem;
                    &:hover{
                        background: $green;
                        border: 1px solid $green;
                        color: white;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 900px) {
        .allPersonalUserBot{
            grid-template-columns: 1fr;
            .allCartIndexItemNext{
                position: relative;
                top: auto;
                width: auto;
            }
        }
    }
}
