.allExcelPanel{
    .allExcelPanelTop{
        margin: 1rem;
        display: grid;
        grid-template-columns: auto 1fr;
        h1{
            color: $text2;
        }
        .allExcelPanelTitle{
            display: grid;
            grid-template-columns: repeat(auto-fit , minmax(2px , auto));
            justify-content: left;
            align-items: center;
            grid-gap: .5rem;
            span{
                color: $text2;
                font-weight: 400;
                font-size:.95rem;
            }
            a{
                color: $text2;
                font-weight: 400;
                font-size:.95rem;
                &:last-child{
                    color: $blue;
                }
            }
        }
    }
    @media screen and (max-width:1000px) {
        .allPayPanelTop{
            display: block;
            h1{
                margin-bottom: 1rem;
            }
        }
    }
    .allExcelPanelItems{
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(12rem , 1fr));
        grid-gap: 1rem;
        margin: 1rem;
        .allExcelItem{
            background: white;
            box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.07);
            border-radius: 10px;
            padding: 1rem;
            i{
                display: grid;
                justify-content: center;
                align-items: center;
                svg{
                    width: 3rem;
                    height: 3rem;
                    fill: $blue;
                }
            }
            h3{
                font-weight: 700;
                color: $text2;
                text-align: center;
                font-size: .9rem;
                margin-top: 1rem;
            }
        }
    }
}
