.allSideBarPanel{
    width: 17rem;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    border-left: 1px solid $border1;
    background: #131f33;
    z-index: 991;
    .allSideBarPanelLogo{
        img{
            padding: 0 1rem;
            width: 100%;
            height: 4.5rem;
            object-fit: contain;
        }
    }
    .scroll-area {
        position: relative;
        margin: auto;
        width: 100%;
        height: 85%;
        direction: ltr;
    }
    .allSideBarPanelContainers{
        padding: 0 1rem;
        direction: rtl;
        .allSideBarPanelContainer{
            margin-top: .5rem;
            .allSideBarPanelContainerTitle{
                border-radius: .2rem;
                display: grid;
                grid-template-columns: 1fr auto;
                align-items: center;
                padding: .7rem;
                cursor: pointer;
                transition: all .3s ease-in-out;
                .allSideBarPanelContainerTitleItem{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: right;
                    grid-gap: 1rem;
                    align-items: center;
                    h4{
                        font-size: .9rem;
                        transition: all .3s ease-in-out;
                        font-weight: 400;
                        color: $text3;
                    }
                    svg{
                        width: 1.2rem;
                        height: 1.2rem;
                    }
                }
                svg{
                    width: .65rem;
                    height: .65rem;
                    transition: all .3s ease-in-out;
                    fill: $text3;
                }
                &:hover{
                    background: #1e293c;
                    .allSideBarPanelContainerTitleItem{
                        h4{
                            color: $blue;
                        }
                        svg{
                            fill: $blue;
                        }
                    }
                }
            }
            .allSideBarPanelContainerTitleActive{
                @extend .allSideBarPanelContainerTitle;
                background: #1e293c;
                border: 1px solid #303949;
                svg{
                    fill: $blue;
                }
                &:hover{
                    background: #1e293c;
                }
            }
            .slide-fade-enter-active{
                transition: all .3s ease-in-out;
            }
            .slide-fade-leave-active {
                transition: all .3s ease-in-out;
            }
            .slide-fade-enter{
                transform: translateY(-30px);
            }
            .slide-fade-leave-to{
                transform: translateY(-60px);
            }
            ul{
                background: #1e293c;
                border: 1px solid #303949;
                margin-top: -.1rem;
                border-bottom-left-radius: .3rem;
                border-bottom-right-radius: .3rem;
                li{
                    a{
                        display: grid;
                        grid-template-columns: auto auto;
                        justify-content: right;
                        align-items: center;
                        padding: .5rem;
                        font-size: .9rem;
                        font-weight: 300;
                        color: $text3;
                        transition: all .3s ease-in-out;
                        svg{
                            width: .8rem;
                            height: .8rem;
                            fill: $text3;
                            margin-left: 1rem;
                        }
                        &:hover{
                            padding-right: 1rem;
                            background: #1e293c;
                            color: $blue;
                            svg{
                                fill: $blue;
                            }
                        }
                    }
                    .active{
                        padding-right: 1rem;
                        background: #1e293c;
                        color: $blue;
                        svg{
                            fill: $blue;
                        }
                    }
                }
            }
        }
        .allSideBarPanelContainersItem{
            margin-top: .5rem;
            a{
                display: grid;
                grid-template-columns: auto auto;
                justify-content: right;
                align-items: center;
                padding: .7rem;
                font-size: .9rem;
                font-weight: 300;
                color: $text3;
                transition: all .3s ease-in-out;
                padding-right: .6rem;
                border-radius: .3rem;
                svg{
                    width: 1.3rem;
                    height: 1.3rem;
                    fill: $text3;
                    margin-left: .9rem;
                    transition: all .3s ease-in-out;
                }
                &:hover{
                    background: #1e293c;
                    color: $blue;
                    svg{
                        fill: $blue;
                    }
                }
            }
            .active{
                background: #1e293c;
                color: $blue;
                svg{
                    fill: $blue;
                }
            }
        }
    }
}
@media screen and (max-width:1000px) {
    .allSideBarPanel{
        position: relative;
        height: auto;
        width: 100%;
        z-index: 10;
    }
}
