.allPages{
    background: white;
    border-radius: .3rem;
    margin: auto;
    margin-top: 1rem;
    .allPagesTitle{
        padding: 1rem;
        border-bottom: 1px solid $border1;
        h1{
            font-size: 2rem;
            font-weight: 500;
            color: $text3;
            letter-spacing: 1px;
        }
    }
    .allPagesBody{
        padding: 1rem;
        p{
            font-size: 1rem;
            letter-spacing: .5px;
            font-weight: 300;
            color: $text2;
        }
    }
}
