.allComment{
    padding: 1rem;
    .allCommentContainerSend{
        .allCommentContainerTop{
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1rem;
            .allCommentContainerTopPic{
                width: 15rem;
                height: 15rem;
            }
            .allCommentContainerTopItems{
                .allCommentContainerTopItemsTitle{
                    margin-bottom: 1rem;
                    h3{
                        font-size: 1rem;
                        line-height: 24px;
                        font-weight: 300;
                        color: #494949;
                    }
                }
                .allCommentContainerTopItemsRate{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 1rem;
                    .allCommentContainerTopItemsRateItem{
                        display: grid;
                        grid-template-columns: 1fr;
                        grid-gap: .5rem;
                        margin-top: 1rem;
                        label{
                            font-size: .75rem;
                            line-height: 1.692;
                            color: #858585;
                        }
                        .rateItemsCount{
                            display: grid;
                            grid-template-columns: repeat(auto-fit , minmax(2rem , auto));
                            justify-content: right;
                            align-items: center;
                            .rateItemsCountItem{
                                position: relative;
                                height: 5px;
                                .rateItemsCountItemBar{
                                    width: 5rem;
                                    height: 5px;
                                    background: #D5D5D5;
                                }
                                .rateItemsCountItemBarActive{
                                    @extend .rateItemsCountItemBar;
                                    background: $blue;
                                }
                                .rateItemsCountItemCircle{
                                    position: absolute;
                                    width: 12px;
                                    height: 12px;
                                    z-index: 2;
                                    border-radius: 50%;
                                    top: 50%;
                                    -webkit-transform: translateY(-50%);
                                    transform: translateY(-50%);
                                    border: 2px solid #fcfcfc;
                                    background-color: #D5D5D5;
                                    cursor: pointer;
                                }
                                .rateItemsCountItemCircleActives{
                                    background-color: $blue;
                                    @extend .rateItemsCountItemCircle;
                                }
                                .rateItemsCountItemCircleActive{
                                    width: 19px;
                                    position: absolute;
                                    background: $blue;
                                    height: 19px;
                                    top: -7px;
                                    display: -webkit-box;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -webkit-box-pack: center;
                                    -ms-flex-pack: center;
                                    justify-content: center;
                                    -webkit-box-align: center;
                                    border-radius: 50%;
                                    border: none;
                                    z-index: 4;
                                    -ms-flex-align: center;
                                    align-items: center;
                                    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
                                    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
                                }
                            }
                            span{
                                font-size: .7rem;
                                font-weight: 300;
                                color: #858585;
                            }
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 700px) {
            .allCommentContainerTop{
                grid-template-columns: 1fr;
                .allCommentContainerTopItems{
                    .allCommentContainerTopItemsRate{
                        grid-template-columns: 1fr;
                    }
                }
            }
        }
        .allCommentContainerBottom{
            border-top: 1px solid #d5dadd;
            margin-top: 1rem;
            padding-top: 1rem;
            .allCommentContainerBottomCoercion{
                display: grid;
                grid-template-columns: repeat(auto-fit , minmax(10rem , 1fr));
                justify-content: center;
                align-items: center;
                grid-gap: 1rem;
                .allCommentContainerBottomCoercionItem{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: .5rem;
                    margin-bottom: 1rem;
                    label{
                        font-size: .95rem;
                        line-height: 1.692;
                        color: #858585;
                    }
                }
            }
            input{
                padding: .5rem;
                background: $back2;
                border: 2px solid #fff;
                border-radius: .2rem;
                width: 100%;
                transition: all .3s ease-in-out;
                font-size: .75rem;
                font-weight: 300;
                &:focus{
                    border: 2px solid $blue;
                }
            }
            .allCommentContainerBottomItem{
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: .5rem;
                margin-bottom: 1rem;
                textarea{
                    padding: .5rem;
                    background: $back2;
                    border: 2px solid #fff;
                    border-radius: .2rem;
                    width: 100%;
                    transition: all .3s ease-in-out;
                    font-size: .75rem;
                    font-weight: 300;
                    height: 15rem;
                    resize: vertical;
                    outline-style: none;
                    &:focus{
                        border: 2px solid $blue;
                    }
                }
                .allCommentContainerBottomItemTitle{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: right;
                    grid-gap: .5rem;
                    align-items: center;
                    i{
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        svg{
                            fill: $blue;
                            width: .7rem;
                            height: .7rem;
                        }
                    }
                }
                label{
                    font-size: .95rem;
                    line-height: 1.692;
                    color: $text3;
                    position: relative;
                    i{
                        position: absolute;
                        left: 1rem;
                        top: .4rem;
                        padding: .3rem;
                        border-radius: 5rem;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        svg{
                            width: .9rem;
                            height: .9rem;
                            fill: $blue2;
                        }
                    }
                }
                span{
                    margin-top: .5rem;
                    width: 100%;
                    padding: .5rem;
                    background: $back2;
                    border-radius: .2rem;
                    position: relative;
                    color: $text2;
                    i{
                        border: 0;
                        position: absolute;
                        left: 1rem;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        svg{
                            fill: $blue;
                            width: 1rem;
                            height: 1rem;
                        }
                    }
                }
            }
            .allCommentContainerBottomSuggest{
                margin-bottom: 1rem;
                label{
                    font-size: .95rem;
                    line-height: 1.692;
                    color: $text3;
                }
                .allCategoryPanel{
                    position: relative;
                    margin: 1rem 0;
                    .categoryShow{
                        background: $back2;
                        display: grid;
                        grid-template-columns: 1fr auto;
                        align-items: center;
                        justify-content: space-between;
                        padding: .7rem;
                        border-radius: .1rem;
                        cursor: pointer;
                        h4{
                            font-weight: 450;
                            font-size: .8rem;
                            letter-spacing: 1px;
                            line-height: 1.833;
                            color: $text2;
                        }
                        i{
                            display: grid;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            svg{
                                width: .8rem;
                                height: .8rem;
                            }
                        }
                    }
                    ul{
                        position: absolute;
                        top: 110%;
                        right: 0;
                        box-shadow: 0 0 10px rgba(0,0,0,.1);
                        background: white;
                        border-radius: .2rem;
                        width: 100%;
                        margin: 0;
                        z-index: 9000;
                        li{
                            padding: .5rem;
                            padding-right: 1rem;
                            transition: all .3s ease-in-out;
                            cursor: pointer;
                            font-weight: 450;
                            font-size: .8rem;
                            letter-spacing: 1px;
                            line-height: 1.833;
                            color: #56595e;
                            &:hover{
                                background: #F6F6F6;
                            }
                        }
                    }
                }
            }
        }
        .allCommentButtons{
            display: grid;
            grid-template-columns: auto auto;
            justify-content: right;
            align-items: center;
            grid-gap: 1rem;
            button{
                display: grid;
                grid-template-columns: auto 4rem auto;
                justify-content: right;
                align-items: center;
                color: white;
                background: #EF394E;
                padding: .5rem 1rem;
                border-radius: .2rem;
                i{
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    svg{
                        fill: white;
                        width: 1rem;
                        height: 1rem;
                    }
                }
                img{
                    width: 4rem;
                    height: 1rem;
                    object-fit: cover;
                }
                &:last-child{
                    display: block;
                    background: #7A7A7A;
                }
            }
        }
    }
    .allCommentAllow{
        .allCommentAllowItem{
            display: grid;
            grid-template-columns: 1fr auto;
            grid-gap: 2rem;
            margin-top: 20px;
            .allCommentAllowItemBtn{
                h5{
                    font-size: 1.15rem;
                    line-height: 1.158;
                    color: #5a5a5a;
                    letter-spacing: -.4px;
                    margin-bottom: 20px;
                }
                p{
                    font-size: .9rem;
                    line-height: 2.27;
                    margin-bottom: 20px;
                    color: #676767;
                    width: 100%;
                }
                button{
                    width: 13rem;
                    padding: 1rem 3rem;
                    color: white;
                    background: #7A7A7A;
                    border-radius: .2rem;
                    text-align: center;
                    transition: all .3s ease-in-out;
                    &:hover{
                        background: #969696;
                    }
                }
            }
            .container {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                padding: 0 20px;

                .rating {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    overflow: hidden;
                    flex-direction: row-reverse;
                    height: 150px;
                    position: relative;
                }

                .rating-0 {
                    filter: grayscale(100%);
                }

                .rating > input {
                    display: none;
                }

                .rating > label {
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    margin-top: auto;
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 76%;
                    transition: .3s;
                }

                .rating > input:checked ~ label,
                .rating > input:checked ~ label ~ label {
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
                }


                .rating > input:not(:checked) ~ label:hover,
                .rating > input:not(:checked) ~ label:hover ~ label {
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
                }

                .emoji-wrapper {
                    width: 100%;
                    text-align: center;
                    height: 100px;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                .emoji-wrapper:before,
                .emoji-wrapper:after{
                    content: "";
                    height: 15px;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    z-index: 1;
                }

                .emoji-wrapper:before {
                    top: 0;
                    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
                }

                .emoji-wrapper:after{
                    bottom: 0;
                    background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
                }

                .emoji {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    transition: .3s;
                }

                .emoji > svg {
                    margin: 15px 0;
                    width: 70px;
                    height: 70px;
                    flex-shrink: 0;
                }

                #rating-1:checked ~ .emoji-wrapper > .emoji { transform: translateY(-100px); }
                #rating-2:checked ~ .emoji-wrapper > .emoji { transform: translateY(-200px); }
                #rating-3:checked ~ .emoji-wrapper > .emoji { transform: translateY(-300px); }
                #rating-4:checked ~ .emoji-wrapper > .emoji { transform: translateY(-400px); }
                #rating-5:checked ~ .emoji-wrapper > .emoji { transform: translateY(-500px); }

                .feedback {
                    max-width: 360px;
                    background-color: #fff;
                    width: 100%;
                    padding: 30px;
                    border-radius: 8px;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    align-items: center;
                    box-shadow: 0 4px 30px rgba(0,0,0,.05);
                }
            }
        }
        @media screen and (max-width: 1000px) {
            .allCommentAllowItem{
                grid-template-columns: 1fr;
            }
        }
        @media screen and (max-width: 700px) {
            .allCommentAllowItem{
                grid-template-columns: 1fr;
                .allCommentAllowItemRate{
                    ul{
                        li{
                            grid-template-columns: auto auto auto;
                            margin: .5rem;
                            span{
                                font-size: .7rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .allCommentContainerGet{
        .allCommentContainerGetTitle{
            display: grid;
            grid-template-columns: auto auto;
            justify-content: right;
            align-items: center;
            padding-bottom: 1rem;
            grid-gap: .5rem;
            border-bottom: 1px solid $border1;
            margin: 3rem 0;
            i{
                display: grid;
                justify-content: center;
                align-items: center;
                svg{
                    fill: #EF394E;
                    width: .8rem;
                    height: .8rem;
                }
            }
            span{
                color: #515151;
                font-size: 1.1rem;
                font-weight: 300;
            }
        }
        .allCommentContainerGetItems{
            .showGetLoader{
                display: grid;
                justify-content: center;
                align-items: center;
                img{
                    width: 3rem;
                    height: 3rem;
                    object-fit: contain;
                }
            }
            .allCommentContainerGetItem{
                display: grid;
                grid-template-columns: auto 1fr;
                grid-gap: 3rem;
                padding-top: 4rem;
                padding-bottom: 2rem;
                border-bottom: 2px solid #f9f9f9;
                .allCommentContainerGetUser{
                    .allCommentContainerUser{
                        display: grid;
                        grid-template-columns: auto auto auto;
                        justify-content: right;
                        align-items: center;
                        grid-gap: .5rem;
                        .allCommentContainerUserPic{
                            width: 2.5rem;
                            height: 2.5rem;
                            overflow: hidden;
                            border-radius: 5rem;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .allCommentContainerUserName{
                            font-size: 1.1rem;
                            line-height: 1.375;
                            font-weight: 500;
                            letter-spacing: .5px;
                            color: $text2;
                        }
                        .allCommentContainerUserOnline{
                            display: grid;
                            grid-template-columns: auto auto;
                            justify-content: right;
                            align-items: center;
                            grid-gap: .5rem;
                        }
                    }
                    span{
                        color: $text2;
                        font-size: .7rem;
                        font-weight: 300;
                        letter-spacing: .5px;
                    }
                    .allCommentContainerCreated{
                        margin-top: 1rem;
                    }
                    .allCommentContainerStatusUnknown{
                        font-size: .9rem;
                        line-height: 2.23;
                        background-color: #fff9f2;
                        border: 1px solid #fcdfbf;
                        border-radius: 3px;
                        color: $blue;
                        padding: 7px 12px;
                        text-align: right;
                        margin-top: 1rem;
                    }
                    .allCommentContainerStatusBad{
                        font-size: .9rem;
                        line-height: 2.23;
                        background-color: #fff8f9;
                        border: 1px solid #ffbcc7;
                        border-radius: 3px;
                        color:$red;
                        padding: .5rem;
                        margin-top: 1rem;
                        display: grid;
                        grid-template-columns: auto auto;
                        justify-content: right;
                        align-items: center;
                        grid-gap: 1rem;
                        i{
                            display: grid;
                            justify-content: right;
                            align-items: center;
                            svg{
                                fill:$red;
                                width: 1rem;
                                height: 1rem;
                            }
                        }
                    }
                    .allCommentContainerStatusGood{
                        @extend .allCommentContainerStatusBad;
                        background-color: #f1feff;
                        border: 1px solid #c2f2f7;
                        color: $blue;
                        i{
                            svg{
                                fill: $blue;
                            }
                        }
                    }
                    .allCommentContainerRate{
                        margin-top: 2rem;
                        label{
                            color: $text2;
                            font-size: .85rem
                        }
                        .allCommentContainerRateContainer{
                            display: grid;
                            grid-template-columns: 1fr;
                            grid-gap: 1rem;
                            margin-top: 1rem;
                            .allCommentContainerRateContainerItem{
                                display: grid;
                                grid-template-columns: auto auto auto;
                                justify-content: right;
                                align-items: center;
                                grid-gap: .5rem;
                                span{
                                    font-size: .8rem;
                                    font-weight: 300;
                                    color: $text3;
                                }
                                .allSingleHomeDetailBodyItemRate{
                                    height: 5px;
                                    width: 10rem;
                                    background: #d5d5d5;
                                    position: relative;
                                    border-radius: 3px;
                                    .allSingleHomeDetailBodyItemRateValue{
                                        position: absolute;
                                        height: 5px;
                                        top: 0;
                                        background: $blue;
                                        border-radius: 3px;
                                    }
                                }
                            }
                        }
                    }
                }
                .allCommentContainerGetBody{
                    .allCommentTitle{
                        font-size: 1.3rem;
                        line-height: 1.158;
                        color: $text3;
                        font-weight: 500;
                        border-bottom: 1px solid #f9f9f9;
                        padding-bottom: 20px;
                        margin-bottom: 20px;
                        letter-spacing: 1px;
                    }
                    .allCommentBody{
                        font-size: 1rem;
                        line-height: 2.71;
                        color: $text3;
                        letter-spacing: .5px;
                        font-weight: 300;
                    }
                    .allCommentGoodItemsContainer{
                        display: grid;
                        grid-template-columns: 3rem 1fr;
                        grid-gap: 2rem;
                        margin-top: 20px;
                        label{
                            flex-shrink: 0;
                            color: $green;
                            font-size: .85rem;
                            line-height: 1.571;
                            white-space: nowrap
                        }
                        .allCommentGoodItems{
                            display: grid;
                            grid-gap: 1rem;
                            .allCommentGoodItem{
                                display: grid;
                                grid-template-columns: auto 1fr;
                                justify-content: right;
                                align-items: center;
                                grid-gap: 1rem;
                                color: $text3;
                                font-weight: 400;
                                font-size: .8rem;
                                i{
                                    display: grid;
                                    justify-content: center;
                                    align-items: center;
                                    svg{
                                        fill: $green;
                                        width: .5rem;
                                        height: .5rem;
                                    }
                                }
                            }
                        }
                    }
                    .allCommentBadItemsContainer{
                        @extend .allCommentGoodItemsContainer;
                        label{
                            color: $red;
                        }
                        .allCommentBadItems{
                            display: grid;
                            grid-gap: 1rem;
                            .allCommentBadItem{
                                display: grid;
                                grid-template-columns: auto 1fr;
                                grid-gap: 1rem;
                                justify-content: right;
                                align-items: center;
                                color: $text3;
                                font-weight: 400;
                                font-size: .8rem;
                                i{
                                    display: grid;
                                    justify-content: center;
                                    align-items: center;
                                    svg{
                                        fill: $red;
                                        width: .5rem;
                                        height: .5rem;
                                    }
                                }
                            }
                        }
                    }
                    .allCommentContainerAnswer{
                        margin-top: 5rem;
                        .allCommentContainerAnswerTitle{
                            display: grid;
                            grid-template-columns: auto auto;
                            justify-content: right;
                            align-items: center;
                            grid-gap: .5rem;
                            margin-right: 2rem;
                            width: 4rem;
                            cursor: pointer;
                            span{
                                color: #777;
                                font-size: 14px;
                                line-height: 1.692;
                            }
                            i{
                                display: grid;
                                justify-content: center;
                                align-items: center;
                                svg{
                                    fill: #777;
                                    width: 1rem;
                                    height: 1rem;
                                }
                            }
                        }
                        .allCommentContainerAnswerBody{
                            background: #FCFCFC;
                            border-radius: .2rem;
                            overflow: hidden;
                            .allCommentContainerAnswerBodyBtn{
                                display: grid;
                                grid-template-columns: 4rem 1fr;
                                .allCommentContainerAnswerBodyBtnItem{
                                    span{
                                        color: #777;
                                        font-size: 14px;
                                        line-height: 1.692;
                                    }
                                    i{
                                        display: grid;
                                        justify-content: center;
                                        align-items: center;
                                        svg{
                                            fill: #777;
                                            width: 1rem;
                                            height: 1rem;
                                        }
                                    }
                                    display: grid;
                                    grid-template-columns: auto auto;
                                    justify-content: left;
                                    align-items: center;
                                    grid-gap: .5rem;
                                    padding: .5rem;
                                    background: #F0F3F7;
                                    button{
                                        padding: .2rem .5rem;
                                        border-radius: .2rem;
                                        color: white;
                                        &:first-child{
                                            background: #FB3449;
                                        }
                                        &:last-child{
                                            background: #7A7A7A;
                                        }
                                    }
                                }
                            }
                            textarea{
                                color: #404040;
                                font-size: .9rem;
                                line-height: 2.25;
                                padding: .5rem;
                                width: 100%;
                                resize: vertical;
                                background: #FCFCFC;
                            }
                        }
                    }
                    .allCommentContainerReply{
                        .allCommentContainerReplyItem{
                            padding: .5rem;
                            background: #F0F3F7;
                            margin-top: 1rem;
                            border-radius: .2rem;
                            .allCommentContainerReplyItemUser{
                                display: grid;
                                grid-template-columns: auto auto auto;
                                justify-content: right;
                                grid-gap: .5rem;
                                align-items: center;
                                .allCommentContainerReplyItemUserPic{
                                    width: 2.5rem;
                                    height: 2.5rem;
                                    border-radius: 5rem;
                                    overflow: hidden;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                                .allCommentContainerReplyItemUserName{
                                    font-size: 1.1rem;
                                    line-height: 1.375;
                                    font-weight: 500;
                                    color: #777;
                                }
                                .allCommentContainerReplyItemUserOnline{
                                    display: grid;
                                    grid-template-columns: auto auto;
                                    justify-content: right;
                                    align-items: center;
                                    grid-gap: .5rem;
                                    span{
                                        color: #777;
                                        font-size: .7rem;
                                        font-weight: 300;
                                    }
                                }
                            }
                            .allCommentContainerReplyItemP{
                                p{
                                    color: #404040;
                                    font-size: .85rem;
                                    line-height: 2.25;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                &:nth-last-child(1){
                    border-bottom: 0;
                }
            }
            @media screen and (max-width: 700px) {
                .allCommentContainerGetItem{
                    grid-template-columns: 1fr;
                }
            }
            .paginate{
                margin: 0 1rem;
                &:first-child{
                    margin-bottom: 1rem;
                }
                &:last-child{
                    margin-top: 1rem;
                }
            }
        }
    }
}
