.allUserIndex{
    padding-top: 1rem;
    margin: auto;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
    label{
        color: $text2;
        font-size: 1rem;
        font-weight: 500;
        padding-right: 1rem;
    }
    .allUserIndexLists{
        background: $frontBack2;
        width: 16rem;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
        height: 31rem;
        position: sticky;
        top: 8.5rem;
        .allUserIndexListsUser{
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: .5rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            padding: 0.5rem;
            .allUserIndexListsUserPic{
                border-radius: 5rem;
                overflow: hidden;
                width: 2.5rem;
                height: 2.5rem;
                img{
                    width: 2.5rem;
                    height: 2.5rem;
                    object-fit: cover;
                }
            }
            .allUserIndexListsUserItem{
                margin-top: .5rem;
                .allUserIndexListsUserName{
                    font-size: .9;
                    line-height: 1.375;
                    vertical-align: center;
                    color: $text3;
                    font-weight: 700;
                    letter-spacing: 1px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .allUserIndexListsUserNumber{
                    font-size: .7rem;
                    letter-spacing: 1px;
                    line-height: 1.833;
                    color: #81858b;
                }
            }
        }
        .allUserIndexListsItem{
            display: grid;
            grid-template-columns: auto 1fr auto;
            justify-content: right;
            align-items: center;
            grid-gap: .5rem;
            border-right: 2px solid $blue;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            padding: 0 .5rem;
            transition:all .3s ease-in-out;
            i{
                display: grid;
                justify-content: center;
                align-items: center;
                width: 1.7rem;
                svg{
                    transition:all .3s ease-in-out;
                    fill: $text2;
                    width: 1.1rem;
                    height: 1.1rem;
                }
                &:nth-child(3){
                    svg{
                        width: .7rem;
                        height: .7rem;
                    }
                }
            }
            a{
                font-size: .8rem;
                font-weight: 300;
                color: #313131;
                padding: 1rem 0;
                letter-spacing: .2px;
            }
            &:last-child{
                border-bottom: 0;
            }
            &:hover{
                background: $blue;
                a,svg{
                    color: white;
                    fill: white;
                }
            }
        }
    }
    .allUserIndexInfo{
        .allUserIndexInfoTop{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1rem;
            margin-bottom: 1rem;
            .allUserIndexInfoTopItem{
                ul{
                    background: $frontBack2;
                    margin-top: 1rem;
                    height: 19.5rem;
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                    overflow: hidden;
                    li{
                        display: grid;
                        grid-template-columns: 1fr auto;
                        border-bottom: 1px solid #f1f1f1;
                        grid-gap: 1rem;
                        padding: 1rem;
                        height: 6.5rem;
                        a{
                            display: grid;
                            grid-template-columns: auto 1fr;
                            grid-gap: .5rem;
                            .userItemPic{
                                img{
                                    width: 3rem;
                                    height: 3rem;
                                    object-fit: cover;
                                }
                            }
                            .userItemSubject{
                                .userItemSubjectTitle{
                                    font-size: .8rem;
                                    font-weight: 400;
                                    height: 2.5rem;
                                    overflow: hidden;
                                    color: #555;
                                }
                            }
                        }
                        i{
                            display: grid;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            svg{
                                transition:all .3s ease-in-out;
                                fill: $text3;
                                width: 1rem;
                                height: 1rem;
                            }
                            &:hover{
                                svg{
                                    fill: $blue;
                                }
                            }
                        }
                    }
                }
                .allUserIndexInfoTopItemAddress{
                    text-align: center;
                    background: $frontBack2;
                    padding: 1rem;
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    overflow: hidden;
                    a{
                        color: $blue;
                        border-bottom: 1px dashed $blue;
                    }
                }
            }
        }
        @media screen and (max-width: 1000px) {
            .allUserIndexInfoTop{
                grid-template-columns: 1fr;
            }
        }
        .postPriceItem{
            text-align: left;
            display: grid;
            grid-template-columns: 1fr;
            justify-content: left;
            height: 2.5rem;
            overflow: hidden;
            .offPrice{
                display: grid;
                justify-content: left;
            }
            h3{
                color: $red;
                font-size: .85rem;
                letter-spacing: 1px;
                font-weight: 500;
            }
            s{
                color: $text2;
                font-weight: 300;
                font-size: .7rem;
            }
        }
        .errorsCreate{
            display: grid;
            grid-template-columns: auto auto;
            justify-content: right;
            align-items: center;
            grid-gap: 1rem;
            background: #F5D2D2;
            border-top: 5px solid #e75f55;
            color: #6b1110;
            border-radius: .2rem;
            padding: .5rem 1rem;
            i{
                svg{
                    width: 1rem;
                    height: 1rem;
                }
            }
            span{
                font-size: .75rem;
                font-weight: 400;
            }
        }
        .allUserIndexInfoPayFilter{
            display: grid;
            grid-template-columns: repeat(auto-fit , minmax(1rem , auto));
            justify-content: right;
            grid-gap: 1rem;
            align-items: center;
            margin: 1rem;
            margin-bottom: 0;
            border-bottom: 3px solid #ededed;
            padding-bottom: .5rem;
            .allUserIndexInfoPayFilterItem{
                font-size: .9rem;
                font-weight: 400;
                color: #81858b;
                cursor: pointer;
                .active{
                    border-bottom: 3px solid rgb(207, 26, 26);
                    color: rgb(207, 26, 26);
                    padding-bottom: .5rem;
                }
            }
            @media screen and (max-width: 550px) {
                .allUserIndexInfoPayFilterItem{
                    font-size: .6rem;
                }
            }
        }
        .allUserIndexInfoPay{
            background: $frontBack2;
            border-radius: 10px;
            margin-top: 1rem;
            overflow: hidden;
            table{
                display: grid;
                grid-template-columns: 1fr;
                direction: rtl;
                tr{
                    display: grid;
                    grid-template-columns: repeat(auto-fit , minmax(1rem , 1fr));
                    &:first-child{
                        box-shadow: 0 3px 1px -2px rgba(0,0,0,.1),0 2px 2px 0 rgba(0,0,0,.08),0 1px 5px 0 rgba(0,0,0,.08);
                        border: 0;
                    }
                    th{
                        box-shadow: 2px 0 2px -2px rgba(0, 0, 0, 0.2);
                        padding: 2rem;
                        text-align: center;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        font-size: .7rem;
                        font-weight: 900;
                        color: #81858b;
                        svg{
                            width: 1rem;
                            height: 1rem;
                        }
                        &:first-child{
                            border-right: 0;
                            cursor: pointer;
                        }
                    }
                }
                .showTr{
                    tr{
                        &:first-child{
                            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
                        }
                        &:nth-child(even){
                            background: #F6F6F6;
                        }
                        td{
                            display: grid;
                            grid-template-columns: repeat(auto-fit ,minmax(1rem,auto));
                            justify-content: center;
                            align-items: center;
                            grid-gap: .5rem;
                            text-align: center;
                            padding: 2rem;
                            box-shadow: 2px 0 2px -2px rgba(0, 0, 0, 0.2);
                            i,a{
                                cursor: pointer;
                                svg{
                                    width: 1rem;
                                    height: 1rem;
                                }
                            }
                            span{
                                color: #81858b;
                                font-size: .75rem;
                                font-weight: 300;
                            }
                            .numberPayEn{
                                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                            }
                            &:first-child{
                                i{
                                    &:nth-child(2){
                                        position: absolute;
                                        top: 0;
                                        visibility: hidden;
                                        opacity: 0;
                                    }
                                }
                            }
                        }
                        .active{
                            display: grid;
                            grid-template-columns: auto auto;
                            justify-content: right;
                            align-items: center;
                            font-weight: 500;
                            color: #81858b;
                            font-size: .7rem;
                            &:before{
                                border-radius: 10px;
                                width: 10px;
                                height: 10px;
                                background-color: #00C58D;
                                content: "";
                                display: inline-block;
                                margin-left: 10px;
                            }
                        }
                        .unActive{
                            display: grid;
                            grid-template-columns: auto auto;
                            justify-content: right;
                            align-items: center;
                            font-weight: 500;
                            color: #81858b;
                            font-size: .7rem;
                            &:before{
                                border-radius: 10px;
                                width: 10px;
                                height: 10px;
                                content: "";
                                background-color: #FC5C63;
                                display: inline-block;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
            @media screen and (max-width: 1200px) {
                table{
                    tr{
                        th{
                            padding: 2rem 0;
                        }
                    }
                    .showTr{
                        tr{
                            td{
                                padding: 2rem 0;
                            }
                        }
                    }
                }
            }
            @media screen and (max-width: 700px) {
                table{
                    tr{
                        th{
                            padding: 1rem 0;
                            font-size: .55rem;
                        }
                    }
                    .showTr{
                        tr{
                            td{
                                padding: 1rem 0;
                                span{
                                    font-size: .55rem;
                                    color: rgb(49, 49, 49);
                                }
                                i{
                                    svg{
                                        width: .5rem;
                                        height: .5rem;
                                    }
                                }
                                .active,.unActive{
                                    font-size: .5rem;
                                    &:before{
                                        visibility: hidden;
                                        position: absolute;
                                        top: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .paginate{
            margin: 1rem;
        }
        .allUserIndexInfoLike{
            .paginate{
                margin: 1rem;
            }
            .allUserIndexInfoLikeItem{
                background: $frontBack2;
                border-radius: 10px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
                overflow: hidden;
                ul{
                    li{
                        display: grid;
                        grid-template-columns: 1fr auto;
                        border-bottom: 1px solid #f1f1f1;
                        grid-gap: 1rem;
                        padding: 1rem;
                        a{
                            display: grid;
                            grid-template-columns: auto 1fr;
                            grid-gap: .5rem;
                            .userItemPic{
                                img{
                                    width: 3rem;
                                    height: 3rem;
                                    object-fit: cover;
                                }
                            }
                            .userItemSubject{
                                .userItemSubjectTitle{
                                    font-size: .8rem;
                                    font-weight: 400;
                                    height: 2.5rem;
                                    overflow: hidden;
                                    color: #555;
                                }
                            }
                        }
                        i{
                            display: grid;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            svg{
                                transition:all .3s ease-in-out;
                                fill: #4a5f73;
                                width: 1rem;
                                height: 1rem;
                            }
                        }
                    }
                }
            }
        }
        .allProductArchiveContainerPosts{
            display: grid;
            grid-template-columns: repeat(auto-fill , minmax(17rem , 1fr));
            .containerMostItem{
                padding: .5rem;
                padding-bottom: 0;
                transition: all .2s ease-in-out;
                background: white;
                transition: box-shadow 0.5s;
                border-radius: .3rem;
                position: relative;
                border-left: 1px solid $border1;
                .pic{
                    overflow: hidden;
                    height: 18rem;
                    overflow: hidden;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-color: transparent;
                        background-position: center;
                        transition: all .3s ease-in-out;
                    }
                }
                .postTitle{
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin-top: 1rem;
                    a{
                        font-size: .8rem;
                        font-weight: 400;
                        color: $text4;
                    }
                }
                .postPrice{
                    margin: 1rem 0;
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: center;
                    grid-gap: .5rem;
                    align-items: center;
                    h3{
                        color: $text4;
                        font-size: 1rem;
                        letter-spacing: 1px;
                        font-weight: 500;
                    }
                    s{
                        color: $text3;
                        font-weight: 300;
                        font-size: .7rem;
                    }
                }
                .offProduct{
                    position: absolute;
                    left: 1rem;
                    top: 1rem;
                    background: $red;
                    padding: .3rem 1rem;
                    border-radius: .6rem;
                    z-index: 100;
                    span{
                        color: white;
                        font-size: .8rem;
                        font-weight: 400;
                    }
                }
                ul{
                    position: absolute;
                    right: 1rem;
                    top: 1rem;

                    li{
                        svg{
                            width: .8rem;
                            height: .8rem;
                            fill: $red;
                        }
                    }
                }
                .checkCount{
                    border-bottom: 1px solid #969696;
                    z-index: 2;
                    height: 40px;
                    position: relative;
                    width: 100%;
                    span{
                        color: #ababab;
                        font-size: 1rem;
                        line-height: 1.222;
                        font-weight: 400;
                        position: absolute;
                        left: 50%;
                        -webkit-transform: translate(-50%,-50%);
                        transform: translate(-50%,-50%);
                        top: 100%;
                        background: white;
                        padding: 0 1rem;
                        height: 21px;
                    }
                }
                .productOption{
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(1px , 1fr));
                    grid-gap: .5rem;
                    border-top: 1px solid $border2;
                    .productOptionItem{
                        padding: 1rem 0;
                        i{
                            display: grid;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            &:hover{
                                svg{
                                    fill: black;
                                }
                            }
                            svg{
                                &:nth-child(2){
                                    visibility: hidden;
                                    position: absolute;
                                    bottom: 1000rem;
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }
                &:hover{
                    img{
                        transform: scale(1.05);
                    }
                }
            }
            svg{
                width: 1.5rem;
                height: 1.5rem;
                transition: all .3s ease-in-out;
                fill: $text3;
            }
        }
        .allUserIndexInfoPersonal{
            background: $frontBack2;
            margin-top: 1rem;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            .allUserIndexInfoPersonalItems{
                display: grid;
                grid-template-columns: 1fr 1fr;
                border-top: 1px solid $border1;
                .allUserIndexInfoPersonalItem{
                    padding: 1rem;
                    input{
                        padding: .5rem;
                        background: $back2;
                        border: 2px solid $back2;
                        border-radius: .2rem;
                        width: 100%;
                        transition: all .3s ease-in-out;
                        font-size: .75rem;
                        margin-top: .5rem;
                        font-weight: 300;
                        height: 2.5rem;
                        &:focus{
                            border: 2px solid $blue;
                        }
                    }
                    label{
                        font-size: .95rem;
                        line-height: 1.692;
                        color: $text3;
                    }
                    .allUserIndexInfoPersonalItemDate{
                        border-radius: .2rem;
                        overflow: hidden;
                        margin-top: .5rem;
                        input{
                            height: 2.5rem;
                            margin-top: 0;
                            border: 0;
                        }
                        label{
                            height: 2.5rem;
                        }
                    }
                    &:first-child{
                        border-left: 1px solid $border1;
                    }
                }
                &:first-child{
                    border-top: 0;
                }
            }
        }
        .infoButton{
            background: $blue;
            padding: .5rem 1rem;
            color: white;
            margin-top: 1rem;
            border-radius: .2rem;
        }
    }
    .allUserIndexComment{
        .allUserIndexInfoPayFilter{
            display: grid;
            grid-template-columns: repeat(auto-fit , minmax(1rem , auto));
            justify-content: right;
            grid-gap: 1rem;
            align-items: center;
            margin: 1rem;
            margin-bottom: 0;
            border-bottom: 3px solid #ededed;
            padding-bottom: .5rem;
            .allUserIndexInfoPayFilterItem{
                font-size: .9rem;
                font-weight: 400;
                color: #81858b;
                cursor: pointer;
                .active{
                    border-bottom: 3px solid rgb(207, 26, 26);
                    color: rgb(207, 26, 26);
                    padding-bottom: .5rem;
                }
            }
        }
        .paginate{
            margin: 1rem;
        }
        .allUserIndexCommentItems{
            border-radius: 10px;
            overflow: hidden;
            background: $frontBack2;
            .allUserIndexCommentItem{
                display: grid;
                grid-template-columns: 1fr auto;
                grid-gap: 1rem;
                border-bottom: 1px solid #f1f1f1;
                padding-bottom: 1rem;
                a{
                    display: grid;
                    grid-template-columns: auto 1fr;
                    align-items: center;
                    grid-gap: 1rem;
                    padding: 1rem;
                    .allUserIndexCommentItemPic{
                        img{
                            width: 5rem;
                            height: 5rem;
                            object-fit: contain;
                        }
                    }
                    .allUserIndexCommentItemSubject{
                        .allUserIndexCommentItemSubjectTitle{
                            font-size: .9rem;
                            font-weight: 400;
                            height: 2.5rem;
                            overflow: hidden;
                            color: #555;
                        }
                        .allUserIndexCommentItemSubjectStatus{
                            span{
                                font-size: .8rem;
                                color: #81858b;
                                font-weight: 300;
                            }
                        }
                        .allUserIndexCommentItemSubjectBody{
                            margin-top: 1rem;
                            p{
                                color: #232933;
                                font-size: .8rem;
                                line-height: 36px;
                                text-align: right;
                            }
                        }
                        .allUserIndexCommentItemSubjectAccept{
                            margin-top: 1rem;
                            span{
                                border-color: #ef394e;
                                background-color: rgba(179, 27, 35, 0.1);
                                color: #ef394e;
                                padding: .2rem;
                                border-radius: .5rem;
                            }
                            .active{
                                border-color: #4caf50;
                                background-color: rgba(76,175,80,.1);
                                color: #2e7b32;
                            }
                        }
                    }
                }
                .allUserIndexCommentItemDelete{
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    padding-left: 2rem;
                    i{
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        svg{
                            transition:all .3s ease-in-out;
                            fill: #4a5f73;
                            width: 1rem;
                            height: 1rem;
                        }
                    }
                }
            }
            @media screen and (max-width: 700px) {
                .allUserIndexCommentItem{
                    a{
                        grid-template-columns: 1fr;
                        .allUserIndexCommentItemPic{
                            display: grid;
                            justify-content: center;
                            img{
                                width: 100%;
                                height: 8rem;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
        }
    }
    .allShowFastPost{
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 9999;
        .allShowFastPostPanel{
            background-color: rgb(247, 247, 247);
            width: 30rem;
            height: 100%;
            position: relative;
            overflow-y: scroll;
            padding: 1rem;
            ul{
                background: white;
                border-radius: .3rem;
                overflow: hidden;
                box-shadow: 0 3px 1px -2px rgba(0,0,0,.1),0 2px 2px 0 rgba(0,0,0,.04),0 1px 5px 0 rgba(0,0,0,.03);
                li{
                    .payMetaItem{
                        display: grid;
                        grid-template-columns: auto 1fr;
                        padding: .5rem;
                        grid-gap: .5rem;
                        .payMetaPic{
                            width: 8rem;
                            img{
                                width: 100%;
                                height: 10rem;
                                object-fit: contain;
                            }
                        }
                        .payMetaSubject{
                            .payMetaSubjectTitle{
                                font-size: .7rem;
                                line-height: 24px;
                                font-weight: 600;
                                color: #4a4a4a;
                            }
                            .payMetaSubjectItem{
                                display: grid;
                                grid-template-columns: auto auto;
                                justify-content: right;
                                align-items: center;
                                grid-gap: .5rem;
                                margin-top: .5rem;
                                i{
                                    display: grid;
                                    justify-content: center;
                                    align-items: center;
                                    svg{
                                        width: .8rem;
                                        height: .8rem;
                                    }
                                }
                            }
                            .payMetaSubjectItemEn{
                                font-family: Verdana, Geneva, Tahoma, sans-serif;
                                display: grid;
                                direction: ltr;
                                grid-template-columns: auto auto;
                                justify-content: right;
                                align-items: center;
                                grid-gap: .5rem;
                                margin-top: .5rem;
                                i{
                                    display: grid;
                                    justify-content: center;
                                    align-items: center;
                                    svg{
                                        width: .8rem;
                                        height: .8rem;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(even){
                        background: #F0F3F7;
                    }
                }
            }
            .buttons{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 1rem;
                margin: 1rem 0;
                button{
                    background: white;
                    border-radius: .3rem;
                    padding: .5rem;
                    font-size: .7rem;
                    font-weight: 400;
                    color: $text2;
                }
            }
        }
        @media screen and (max-width: 700px) {
            .allShowFastPostPanel{
                width: 15rem;
                ul{
                    li{
                        grid-template-columns: 1fr;
                        .allUserIndexCommentItemPic{
                            width: 100%;
                            display: grid;
                            justify-content: center;
                            img{
                                width: 100%;
                                height: 8rem;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
        }
    }
    .archiveLoader{
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100000;
        display: grid;
        justify-content: center;
        align-items: center;
        background: rgba(0 , 0 , 0 , .7);
        width: 100%;
        height: 100%;
        .archiveLoaderItem{
            background: white;
            width: 10rem;
            height: 10rem;
            display: grid;
            justify-content: center;
            align-items: center;
            img{
                width: 10rem;
                object-fit: cover;
                height: 10rem;
            }
        }
    }
}
@media screen and (max-width: 900px) {
    .allUserIndex{
        grid-template-columns: 1fr;
        .allUserIndexLists{
            position: relative;
            top: auto;
            width: auto;
        }
    }
}
