.allHeaderPanel{
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr;
    padding: 1rem 0;
    padding-right: 18rem;
    padding-left: 1rem;
    z-index: 900;
    box-shadow: rgba(25, 42, 70, 0.13) -8px 12px 18px 0px;
    .allHeaderPanelOption{
        display: grid;
        grid-template-columns: repeat(auto-fit , minmax(1px , auto));
        justify-content: right;
        align-items: center;
        grid-gap: 2rem;
        a,i,span{
            display: grid;
            justify-content: center;
            align-items: center;
            transition: all .3s ease-in-out;
            color: $text1;
            cursor: pointer;
            svg{
                width: 1.2rem;
                height: 1.2rem;
                transition: all .3s ease-in-out;
                fill: $text2;
            }
            &:hover{
                color: $blue;
                svg{
                    fill: $blue;
                }
            }
        }
        .alertHeader{
            position: relative;
            .active{
                animation: mymove 1s ease-in-out infinite;
                transition: all .3s ease-in-out;
                @keyframes mymove {
                    0%   {transform: rotate(-40deg);}
                    50%  {transform: rotate(40deg);}
                    100% {transform: rotate(-40deg);}
                }
                svg{
                    fill: $red;
                }
            }
            svg{
                width: 1.4rem;
                height: 1.4rem;
            }
            ul{
                position: absolute;
                top: 180%;
                left: -.5rem;
                box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);
                width: 12rem;
                background: white;
                border-radius: .2rem;
                padding: .5rem 0;
                &::before{
                    content: '';
                    position: absolute;
                    top: -10px;
                    left: 8px;
                    border-style: solid;
                    border-width: 0 10px 10px 10px;
                    border-color: transparent transparent #fff transparent;
                }
                li{
                    display: grid;
                    grid-template-columns: auto 1fr;
                    grid-gap: .5rem;
                    padding: .3rem 1rem;
                    &:first-child{
                        display: block;
                        border-bottom: 1px solid rgba(107,122,144,0.1);
                        text-align: center;
                        color: $text2;
                        font-weight: 400;
                        padding: .5rem;
                    }
                    .alarmHeaderPanelIcon{
                        background-color: $blue;
                        width: 2rem;
                        height: 2rem;
                        border-radius: 5rem;
                        overflow: hidden;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        svg{
                            width: 1rem;
                            height: 1rem;
                            fill: #fff;
                        }
                    }
                    .alarmHeaderPanelInfo{
                        display: grid;
                        grid-template-columns: 1fr;
                        a{
                            font-size: 12px;
                            font-weight: 500;
                            color: #4a4a4a;
                            justify-content: right;
                        }
                        span{
                            justify-content: right;
                            color: #9fa6b1;
                            font-size: 87.5%;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
        .userHeader{
            display: grid;
            justify-content: left;
            align-items: center;
            grid-template-columns: auto auto;
            grid-gap: .5rem;
            img{
                width: 2.5rem;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
                height: 2.5rem;
                border-radius: 5rem;
                overflow: hidden;
                object-fit: cover;
            }
        }
        &:last-child{
            justify-content: left;
        }
    }
}
@media screen and (max-width:1000px) {
    .allHeaderPanel{
        padding-right: 1rem;
        grid-template-columns: 4rem 1fr;
    }
}
