.allDashboard{
    margin: 1rem;
    .allDashboardTop{
        display: grid;
        grid-template-columns: auto 1fr;
        h1{
            color: $text2;
        }
        .allDashboardTitle{
            display: grid;
            grid-template-columns: repeat(auto-fit , minmax(2px , auto));
            justify-content: left;
            align-items: center;
            grid-gap: .5rem;
            span{
                color: $text2;
                font-weight: 400;
                font-size:.95rem;
            }
            a{
                color: $text2;
                font-weight: 400;
                font-size:.95rem;
                &:last-child{
                    color: $blue;
                }
            }
        }
    }
    .allDashboardOptions{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        .allDashboardOption{
            background: white;
            padding: 1rem;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1),0 2px 10px 0 rgba(0,0,0,0.09);
            border-radius: .3rem;
            .allDashboardOptionTop{
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-between;
                align-items: center;
                h3{
                    font-size: 1.1rem;
                    font-weight: 300;
                    color: $text4;
                }
                h4{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: left;
                    align-items: center;
                    grid-gap: .5rem;
                    font-size: .8rem;
                    font-weight: 400;
                    color: $text2;
                    svg{
                        width: 1rem;
                        height: 1rem;
                        fill: $text2;
                    }
                }
            }
            .allDashboardOptionMid{
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin: 2rem 0;
                .allDashboardOptionMidItem{
                    text-align: center;
                    h4{
                        font-size: 1.7rem;
                        font-weight: 500;
                        color: $text1;
                    }
                    h5{
                        font-weight: 500;
                        color: $text1;
                        font-size: .7rem;
                    }
                    &:first-child{
                        border-left: 1px solid $border1;
                    }
                }
            }
            .allDashboardOptionBot{
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-between;
                border-top: 1px solid $border1;
                padding-top: 1rem;
                h4,h5{
                    font-size: .8rem;
                    font-weight: 300;
                    color: $text2;
                }
            }
        }
    }
    .allDashboardVidget{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        margin-top: 1rem;
        .allDashboardVidgetOption{
            background: white;
            padding: 1rem;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1),0 2px 10px 0 rgba(0,0,0,0.09);
            border-radius: .3rem;
            .allDashboardVidgetOptionTop{
                display: grid;
                justify-content: center;
                text-align: center;
                h2{
                    text-align: center;
                    font-size: 1rem;
                    color: $text4;
                    font-weight: 500;
                }
                .allDashboardVidgetOptionTopCircle{
                    width: 4.5rem;
                    height: 4.5rem;
                    border-radius: 100%;
                    border: 3px solid $blue;
                    text-align: center;
                    display: grid;
                    justify-content: center;
                    margin-top: 1rem;
                    align-items: center;
                    span{
                        font-size: 1rem;
                        font-weight: 500;
                        color: $text4;
                    }
                }
            }
            .allDashboardVidgetOptionMid{
                .allDashboardVidgetOptionMidItem{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: .5rem;
                    margin-top: 1rem;
                    .allDashboardVidgetOptionMidItemTitle{
                        display: grid;
                        grid-template-columns: auto auto;
                        justify-content: space-between;
                        align-items: center;
                        h5{
                            font-size: .8rem;
                            font-weight: 500;
                            color: $blue;
                        }
                        span{
                            font-size: .8rem;
                            font-weight: 500;
                            color: $text2;
                        }
                    }
                    .allDashboardVidgetOptionMidItemSize{
                        height: 25px;
                        width: 100%;
                        background: #484949;
                        .allDashboardVidgetOptionMidItemSizeFill{
                            height: 100%;
                            background: $blue;
                            width: 5rem;
                            position: relative;
                            span{
                                position: absolute;
                                right: 45%;
                                left: 0;
                                width: 1.59rem;
                                direction: ltr;
                                overflow: hidden;
                                text-align: center;
                                top: 5px;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
    .allDashboardPayChart{
        background: white;
        padding: 1rem;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1),0 2px 10px 0 rgba(0,0,0,0.09);
        border-radius: .3rem;
        margin-top: 1rem;
        display: grid;
        grid-gap: 1rem;
        label{
            font-size: 1rem;
            color: $text4;
            font-weight: 500;
        }
    }
}
@media screen and (max-width:1000px) {
    .allDashboard{
        .allDashboardOptions,.allDashboardVidget{
            grid-template-columns: 1fr;
        }
        .allDashboardPayCharts{
            visibility: hidden;
            position: absolute;
            top: 0;
            .allDashboardPayChart{
                top: 0;
                visibility: hidden;
                position: absolute;
            }
        }
    }
}
