.allShowGallery{
    background: rgba(0,0,0,.5);
    z-index: 99000;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    .panelImage{
        width: 90%;
        height: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        background: #F5F6F8;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: auto 1fr;
        .detailGallery{
            width: 15rem;
            background: #FFFFFF;
            padding: 1rem;
            z-index: 10;
            .imageNameDetail{
                display: grid;
                grid-template-columns: auto auto;
                align-items: center;
                justify-content: right;
                grid-gap: .5rem;
                margin-bottom: 1rem;
                svg{
                    fill: $blue;
                    width: 0.8rem;
                    height: 0.8rem;
                }
                h3{
                    font-size: .7rem;
                    font-weight: 200;
                    padding-top: .3rem;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
            .titleDetailGallery{
                border-bottom: 2px solid $border2;
                padding-bottom: .5rem;
                margin-bottom: 1rem;
                span{
                    font-size: .7rem;
                    font-weight: 300;
                    padding-top: .3rem;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    color: $text2;
                }
            }
            .imageSubject{
                margin-top: .5rem;
                .imageSubjectItem{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: space-between;
                    align-items: center;
                    grid-gap: .5rem;
                    padding: .5rem 0;
                    border-top: 1px dashed $border1;
                    span{
                        font-size: 11px;
                        font-weight: 200;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    label{
                        font-size: 11px;
                        font-weight: 300;
                        color: $text3;
                    }
                    &:first-child{
                        border-top: 0;
                    }
                }
            }
            img{
                width: 15rem;
                height: 15rem;
                object-fit: cover;
            }
            .sendImage{
                display: grid;
                justify-content: left;
                align-items: center;
                width: 13rem;
                button{
                    padding: .3rem 1.5rem;
                    background: $blue;
                    border-radius: .2rem;
                    color: white;
                    margin-top: 1rem;
                    font-size: .7rem;
                    font-weight: 200;
                }
            }
        }
        .showAllImage{
            .topImage{
                display: grid;
                grid-template-columns: 1fr 1fr;
                height: 7rem;
                background: #FFFFFF;
                box-shadow: 0 2px 4px rgba(15,34,58,.12);
                border-bottom: 1px solid rgba(107,122,144,0.1);
                padding: 1rem;
                position: relative;
                z-index: 1;
                .titleImage{
                    height: 2rem;
                    h3{
                        display: grid;
                        grid-template-columns: auto auto;
                        justify-content: right;
                        align-items: center;
                        grid-gap: .8rem;
                        color: $text4;
                        font-size: 1.4rem;
                        font-weight: 500;
                        svg{
                            width: 1rem;
                            height: 1rem;
                            fill: $text4;
                        }
                    }
                    .address{
                        display: grid;
                        grid-template-columns: repeat(auto-fit , minmax(1px , auto));
                        justify-content: right;
                        grid-gap: .3rem;
                        align-items: center;
                        margin-right: 1.8rem;
                        a,span{
                            color: $text3;
                            font-weight: 200;
                        }
                    }
                }
                .buttonsImage{
                    display: grid;
                    grid-template-columns: repeat(auto-fit , minmax(1px , auto));
                    grid-gap: 1rem;
                    justify-content: left;
                    align-items: center;
                    height: 2.2rem;
                    button{
                        background: transparent;
                        margin-top: .3rem;
                        svg{
                            width: 1.4rem;
                            height: 1.4rem;
                            fill: $text3;
                        }
                    }
                    input{
                        width: 15rem;
                        padding: .2rem .5rem;
                        background: transparent;
                        border-radius: 5rem;
                        font-size: .7rem;
                        color: $text4;
                        border: 1px solid $border1;
                        &:focus{
                            border: 1px solid $blue2;
                            box-shadow: 0 0 0 0;
                        }
                    }
                    .icon-plus , .icon-002-image-file{
                        position: absolute;
                        top: 82%;
                        right: 85%;
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.2rem;
                        width: 2.7rem;
                        height: 2.7rem;
                        border-radius: 5rem;
                        background: $blue;
                        color: white;
                        cursor: pointer;
                        box-shadow: 0 2px 4px rgba(15,34,58,.12);
                        svg{
                            width: 1.2rem;
                            height: 1.2rem;
                            fill: white;
                        }
                    }
                }
            }
            .botNav{
                .images{
                    padding: 1rem;
                    .itemImages{
                        display: grid;
                        grid-template-columns: repeat(auto-fit , minmax(1px , auto));
                        justify-content: right;
                        align-items: center;
                        grid-gap: 1rem;
                        .choiceFolder{
                            position: relative;
                            h4{
                                display: grid;
                                justify-content: center;
                                align-items: center;
                                background: white;
                                width: 8rem;
                                border: 1px solid $border2;
                                padding: .3rem 0;
                                border-radius: .2rem;
                                font-weight: 300;
                                cursor: pointer;
                            }
                            .loader{
                                display: grid;
                                justify-content: center;
                                width: 100%;
                                img{
                                    border-radius: 0;
                                    box-shadow: 0 0 0 transparent;
                                    object-fit: cover;
                                    width: 2rem;
                                    height: 2rem;
                                }
                            }
                            .slide-fade-enter-active,.slide-fade-leave-active {
                                transition: all .3s ease;
                            }
                            .slide-fade-enter, .slide-fade-leave-to{
                                transform: translateY(-10px);
                            }
                            ul{
                                width: 8rem;
                                z-index: 1000;
                                position: absolute;
                                top: 1.7rem;
                                left: 0;
                                height: 10rem;
                                background: white;
                                border: 1px solid $border2;
                                border-top: none;
                                padding: .5rem;
                                border-radius: .4rem;
                                display: grid;
                                grid-template-columns: 1fr;
                                grid-gap: .5rem;
                                .scroll-area {
                                    position: relative;
                                    margin: auto;
                                    height: 9.5rem;
                                    width: 7rem;
                                    direction: ltr;
                                    overflow: hidden;
                                }
                                .close{
                                    position: absolute;
                                    bottom: 90%;
                                    right: 90%;
                                    z-index: 200;
                                    padding: .2rem;
                                    background: red;
                                    display: grid;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 1rem;
                                }
                                li{
                                    direction: rtl;
                                    display: grid;
                                    grid-template-columns: auto 1fr;
                                    justify-content: right;
                                    align-items: center;
                                    grid-gap: .1rem;
                                    color: $text2;
                                    cursor: pointer;
                                    margin-bottom: .3rem;
                                    span{
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        font-weight: 300;
                                    }
                                }
                            }
                        }
                        select{
                            width: 8rem;
                            font-size: .8rem;
                            font-weight: 200;
                            background: white;
                            color: $text2;
                            cursor: pointer;
                            padding: .3rem .5rem;
                            border-radius: .2rem;
                        }

                    }
                    .allImages{
                        margin-top: 1rem;
                        ul{
                            display: grid;
                            grid-template-columns: repeat(auto-fill , minmax(12rem , 1fr));
                            grid-gap: 1rem;
                            li{
                                position: relative;
                                display: grid;
                                grid-template-columns: 1fr;
                                cursor: pointer;
                                .subject{
                                    display: grid;
                                    grid-template-columns: auto auto;
                                    grid-gap: .5rem;
                                    justify-content: right;
                                    align-items: center;
                                    padding: .2rem;
                                    svg{
                                        width: .8rem;
                                        height: .8rem;
                                        fill: $blue;
                                    }
                                    span{
                                        font-size: .7rem;
                                        font-weight: 200;
                                        padding-top: .3rem;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        color: $text2;
                                        overflow: hidden;
                                    }
                                }
                                img{
                                    cursor: pointer;
                                    height: 8rem;
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
                .loader{
                    display: grid;
                    justify-content: center;
                    width: 100%;
                    img{
                        border-radius: 0;
                        box-shadow: 0 0 0 transparent;
                        object-fit: cover;
                        width: 2rem;
                        height: 2rem;
                    }
                }
                .createImage{
                    position: relative;
                    margin: 2rem;
                    .vue-dropzone{
                        height: 100%;
                        overflow-y: scroll;
                        border-radius: .3rem;
                        color: $text2;
                        span{
                            margin-right: .5rem;
                            font-size: 1rem;
                            font-weight: 500;
                            color: $text3;
                        }
                        .dropzone-custom-content {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            text-align: center;
                        }

                        .dropzone-custom-title {
                            margin-top: 0;
                            color: $text4;
                            font-family: 'irsans';
                            font-style: normal;
                            font-weight: 900;
                            font-size: 1rem;
                        }

                        .subtitle {
                            margin-top: 1rem;
                            color: $text3;
                            font-family: 'irsans';
                            font-style: normal;
                            font-weight: 500;
                            font-size: .8rem;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width:1000px) {
        .panelImage{
            display: block;
            .detailGallery{
                width: 100%;
            }
            .showAllImage{
                .topImage{
                    display: block;
                    height: auto;
                    .titleImage{
                        height: auto;
                    }
                }
            }
        }
    }
}
