.AllArchive{
    padding-top: 1rem;
    .AllArchiveTitle{
        margin: auto;
        padding-left: 20px;
        ul {
            list-style: none;
            display: grid;
            grid-template-columns: repeat(auto-fit , minmax(1px , auto));
            justify-content: right;
            align-items: center;
            li {
                display: inline;
                a {
                    height: 40px;
                    background: $frontBack2;
                    text-align: center;
                    position: relative;
                    margin: 0 10px 0 0;
                    display: grid;
                    grid-template-columns: auto auto;
                    grid-gap: .5rem;
                    justify-content: right;
                    padding: 0 2rem;
                    align-items: center;
                    transition: all .3s ease-in-out;
                    text-decoration: none;
                    h4{
                        font-weight: 500;
                        font-size: .9rem;
                        color: $text3;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    svg{
                        width: .9rem;
                        transition: all .3s ease-in-out;
                        height: .9rem;
                        fill: $text3;
                    }
                    &::before {
                        content: "";
                        border-top: 20px solid transparent;
                        border-bottom: 20px solid transparent;
                        border-right: 20px solid $frontBack2;
                        position: absolute;
                        left: -20px;
                        transition: all .3s ease-in-out;
                        top: 0;
                        z-index: 1;
                    }
                    &::after {
                        content: "";
                        border-top: 20px solid transparent;
                        border-bottom: 20px solid transparent;
                        transition: all .3s ease-in-out;
                        border-right: 20px solid #fafafa;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
            }
        }
    }
    .AllArchiveCategories{
        margin: auto;
        background: $frontBack2;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 1rem;
        .AllArchiveCategoriesTitle{
            position: relative;
            .AllArchiveCategoriesTitleItem{
                font-size: 1.2rem;
                margin-top: 1rem;
                span{
                    padding: 0 1rem;
                    z-index: 2;
                    color: $textFront;
                    position: relative;
                    background: $frontBack2;
                }
                &::after{
                    content: "";
                    width: 100%;
                    left: 0;
                    top: 1.1rem;
                    height: .08rem;
                    background: white;
                    position: absolute;
                }
                &::before{
                    content: "";
                    width: 100%;
                    left: 0;
                    bottom: 1.1rem;
                    height: .08rem;
                    background: white;
                    position: absolute;
                }
            }
        }
        .AllArchiveCategoriesItems{
            display: grid;
            grid-template-columns: repeat(auto-fill , minmax(10rem , 1fr));
            align-items: center;
            grid-gap: 1rem;
            padding: 1rem;
            .AllArchiveCategoriesItem{
                display: grid;
                justify-content: center;
                padding: 1rem;
                border-radius: 10px;
                transition: all .3s ease-in-out;
                overflow: hidden;
                background: white;
                border: 1px solid #f1f1f1;
                .AllArchiveCategoriesItemPic{
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 5rem;
                        height: 5rem;
                        object-fit: contain;
                    }
                }
                h4{
                    text-align: center;
                    margin-top: .5rem;
                    font-size: .8rem;
                    font-weight: 300;
                    color: $text2;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                &:hover{
                    box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
                }
            }
        }
    }
    .AllArchiveData{
        margin: auto;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 1rem;
        margin-top: 1rem;
        .AllArchiveDataFilters{
            .AllArchiveDataFiltersShowcase{
                background: $frontBack2;
                padding: 1rem;
                border-radius: .5rem;
                overflow: hidden;
                margin-bottom: 1rem;
                box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.07);
                .AllArchiveDataFiltersShowcaseTitle{
                    text-align: center;
                    font-size: 1rem;
                    font-weight: 500;
                    color: $green;
                }
                .hooper{
                    width: 15rem;
                    height: 20rem;
                    outline: transparent;
                    z-index: 100;
                    .hooper-list{
                        .hooper-track{
                            .hooper-slide{
                                .AllArchiveDataFiltersShowcaseItem{
                                    img{
                                        width: 100%;
                                        height: 12rem;
                                        object-fit: contain;
                                        padding: 2rem;
                                    }
                                    h3{
                                        font-size: .9rem;
                                        font-weight: 300;
                                        color: $text1;
                                        opacity: .7;
                                        display: -webkit-box;
                                        overflow: hidden;
                                        -webkit-line-clamp: 2;
                                        -webkit-box-orient: vertical;
                                        margin-top: .5rem;
                                    }
                                    h4{
                                        text-align: left;
                                        margin-top: .5rem;
                                        font-size: 1.2rem;
                                        font-weight: 500;
                                        color: $text1;
                                        span{
                                            letter-spacing: .1px;
                                            font-size: .7rem;
                                        }
                                    }
                                }
                            }
                        }
                        .hooper-pagination{
                            .hooper-indicators{
                                button{
                                    width: .5rem;
                                    height: .5rem;
                                    background: $text3;
                                    border-radius: 5rem;
                                }
                                .hooper-indicator.is-active{
                                    background: $green;
                                    width: 1rem;
                                }
                            }
                        }
                    }
                }
            }
            .AllArchiveDataFiltersItems{
                margin-bottom: 1rem;
                .AllArchiveDataFiltersItemsTitle{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: space-between;
                    align-items: center;
                    color: $text2;
                    letter-spacing: .5px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 1.571;
                    background: $frontBack2;
                    padding: 1rem;
                    border-radius: .5rem;
                    overflow: hidden;
                    cursor: pointer;
                    .AllArchiveDataFiltersItemsTitleOption{
                        display: grid;
                        grid-template-columns: auto auto;
                        justify-content: right;
                        align-items: center;
                        grid-gap: .5rem;
                    }
                    i{
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        svg{
                            width: .85rem;
                            height: .85rem;
                            fill: $text2;
                        }
                    }
                }
                .slide-fade-enter-active , .slide-fade-leave-active{
                    transition: all .3s ease;
                }
                .slide-fade-enter, .slide-fade-leave-to{
                    transform: translateY(-.5rem);
                }
                .AllArchiveDataFiltersItemContainer{
                    border-top: 1px solid #f9f9f9;
                    background: $frontBack2;
                    padding-top: .5rem;
                    margin-top: -.2rem;
                    border-bottom-left-radius: .5rem;
                    border-bottom-right-radius: .5rem;

                    overflow: hidden;
                    .scroll-area {
                        position: relative;
                        margin: auto;
                        width: 100%;
                        height: 15rem;
                        direction: ltr;
                    }
                    .AllArchiveDataFiltersItem{
                        direction: rtl;
                        label{
                            display: grid;
                            padding: .5rem;
                            grid-gap: .5rem;
                            grid-template-columns: repeat(auto-fit,minmax(1px , auto));
                            justify-content: right;
                            align-items: center;
                            max-width: 15rem;
                            cursor: pointer;
                            color: #3b3b3b;
                            letter-spacing: .2px;
                            font-weight: 300;
                            font-size: 12px;
                            line-height: 1.571;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            svg{
                                width: 1rem;
                                height: 1rem;
                            }
                        }
                        @supports(-webkit-appearance: none) or (-moz-appearance: none) {
                            input[type='checkbox'],
                            input[type='radio'] {
                                --active: #275EFE;
                                --active-inner: #fff;
                                --focus: 2px rgba(39, 94, 254, .3);
                                --border: #BBC1E1;
                                --border-hover: #275EFE;
                                --background: #fff;
                                --disabled: #F6F8FF;
                                --disabled-inner: #E1E6F9;
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                height: 21px;
                                outline: none;
                                display: inline-block;
                                vertical-align: top;
                                position: relative;
                                margin: 0;
                                cursor: pointer;
                                border: 1px solid var(--bc, var(--border));
                                background: var(--b, var(--background));
                                transition: background .3s, border-color .3s, box-shadow .2s;
                                &:after {
                                    content: '';
                                    display: block;
                                    left: 0;
                                    top: 0;
                                    position: absolute;
                                    transition: all .3s ease-in-out;
                                }
                                &:checked {
                                    --b: var(--active);
                                    --bc: var(--active);
                                    --d-o: .3s;
                                    --d-t: .6s;
                                    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
                                }
                                &:disabled {
                                    --b: var(--disabled);
                                    cursor: not-allowed;
                                    opacity: .9;
                                    &:checked {
                                        --b: var(--disabled-inner);
                                        --bc: var(--border);
                                    }
                                    & + label {
                                        cursor: not-allowed;
                                    }
                                }
                                &:hover {
                                    &:not(:checked) {
                                        &:not(:disabled) {
                                            --bc: var(--border-hover);
                                        }
                                    }
                                }
                                &:focus {
                                    box-shadow: 0 0 0 var(--focus);
                                }
                                &:not(.switch) {
                                    width: 21px;
                                    &:after {
                                        opacity: var(--o, 0);
                                    }
                                    &:checked {
                                        --o: 1;
                                    }
                                }
                                & + label {
                                    font-size: 14px;
                                    line-height: 21px;
                                    display: inline-block;
                                    vertical-align: top;
                                    cursor: pointer;
                                    margin-left: 4px;
                                }
                            }
                            input[type='checkbox'] {
                                &:not(.switch) {
                                    border-radius: 7px;
                                    &:after {
                                        width: 5px;
                                        height: 9px;
                                        border: 2px solid var(--active-inner);
                                        border-top: 0;
                                        border-left: 0;
                                        left: 7px;
                                        top: 4px;
                                        transform: rotate(var(--r, 20deg));
                                    }
                                    &:checked {
                                        --r: 43deg;
                                    }
                                }
                                &.switch {
                                    width: 38px;
                                    border-radius: 11px;
                                    &:after {
                                        left: 2px;
                                        top: 2px;
                                        border-radius: 50%;
                                        width: 15px;
                                        height: 15px;
                                        background: var(--ab, var(--border));
                                        transform: translateX(var(--x, 0));
                                    }
                                    &:checked {
                                        --ab: var(--active-inner);
                                        --x: 17px;
                                    }
                                    &:disabled {
                                        &:not(:checked) {
                                            &:after {
                                                opacity: .6;
                                            }
                                        }
                                    }
                                }
                            }
                            input[type='radio'] {
                                border-radius: 50%;
                                &:after {
                                    width: 19px;
                                    height: 19px;
                                    border-radius: 50%;
                                    background: var(--active-inner);
                                    opacity: 0;
                                    transform: scale(var(--s, .7));
                                }
                                &:checked {
                                    --s: .5;
                                }
                            }
                        }
                    }
                }
            }
            .AllArchiveDataFiltersCheck{
                background: $frontBack2;
                border-radius: .5rem;
                overflow: hidden;
                margin-bottom: 1rem;
                label{
                    display: grid;
                    padding: .5rem;
                    grid-gap: .5rem;
                    grid-template-columns: auto auto;
                    justify-content: right;
                    align-items: center;
                    cursor: pointer;
                    color: #3b3b3b;
                    letter-spacing: .2px;
                    font-weight: 300;
                    font-size: 12px;
                    height: 3.3rem;
                    line-height: 1.571;
                }
                @supports(-webkit-appearance: none) or (-moz-appearance: none) {
                    input[type='checkbox'],
                    input[type='radio'] {
                        --active: #275EFE;
                        --active-inner: #fff;
                        --focus: 2px rgba(39, 94, 254, .3);
                        --border: #BBC1E1;
                        --border-hover: #275EFE;
                        --background: #fff;
                        --disabled: #F6F8FF;
                        --disabled-inner: #E1E6F9;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        height: 21px;
                        outline: none;
                        display: inline-block;
                        vertical-align: top;
                        position: relative;
                        margin: 0;
                        cursor: pointer;
                        border: 1px solid var(--bc, var(--border));
                        background: var(--b, var(--background));
                        transition: background .3s, border-color .3s, box-shadow .2s;
                        &:after {
                            content: '';
                            display: block;
                            left: 0;
                            top: 0;
                            position: absolute;
                            transition: all .3s ease-in-out;
                        }
                        &:checked {
                            --b: var(--active);
                            --bc: var(--active);
                            --d-o: .3s;
                            --d-t: .6s;
                            --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
                        }
                        &:disabled {
                            --b: var(--disabled);
                            cursor: not-allowed;
                            opacity: .9;
                            &:checked {
                                --b: var(--disabled-inner);
                                --bc: var(--border);
                            }
                            & + label {
                                cursor: not-allowed;
                            }
                        }
                        &:hover {
                            &:not(:checked) {
                                &:not(:disabled) {
                                    --bc: var(--border-hover);
                                }
                            }
                        }
                        &:focus {
                            box-shadow: 0 0 0 var(--focus);
                        }
                        &:not(.switch) {
                            width: 21px;
                            &:after {
                                opacity: var(--o, 0);
                            }
                            &:checked {
                                --o: 1;
                            }
                        }
                        & + label {
                            font-size: 14px;
                            line-height: 21px;
                            display: inline-block;
                            vertical-align: top;
                            cursor: pointer;
                            margin-left: 4px;
                        }
                    }
                    input[type='checkbox'] {
                        &:not(.switch) {
                            border-radius: 7px;
                            &:after {
                                width: 5px;
                                height: 9px;
                                border: 2px solid var(--active-inner);
                                border-top: 0;
                                border-left: 0;
                                left: 7px;
                                top: 4px;
                                transform: rotate(var(--r, 20deg));
                            }
                            &:checked {
                                --r: 43deg;
                            }
                        }
                        &.switch {
                            width: 38px;
                            border-radius: 11px;
                            &:after {
                                left: 2px;
                                top: 2px;
                                border-radius: 50%;
                                width: 15px;
                                height: 15px;
                                background: var(--ab, var(--border));
                                transform: translateX(var(--x, 0));
                            }
                            &:checked {
                                --ab: var(--active-inner);
                                --x: 17px;
                            }
                            &:disabled {
                                &:not(:checked) {
                                    &:after {
                                        opacity: .6;
                                    }
                                }
                            }
                        }
                    }
                    input[type='radio'] {
                        border-radius: 50%;
                        &:after {
                            width: 19px;
                            height: 19px;
                            border-radius: 50%;
                            background: var(--active-inner);
                            opacity: 0;
                            transform: scale(var(--s, .7));
                        }
                        &:checked {
                            --s: .5;
                        }
                    }
                }
            }
            .AllArchiveDataFiltersSearch{
                background: $frontBack2;
                padding: 1rem;
                border-radius: .5rem;
                overflow: hidden;
                margin-bottom: 1rem;
                .AllArchiveDataFiltersSearchTitle{
                    color: #535353;
                    letter-spacing: .2px;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 1.571;
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: right;
                    grid-gap: .5rem;
                    align-items: center;
                }
                .AllArchiveDataFiltersSearchItem{
                    margin-top: 1rem;
                    input{
                        padding: .4rem .5rem;
                        background: #fafafa;
                        border: 2px solid #fafafa;
                        border-radius: .5rem;
                        width: 100%;
                        transition: all .3s ease-in-out;
                        font-size: .75rem;
                        font-weight: 300;
                        &:focus{
                            border: 2px solid $blue;
                        }
                    }
                }
            }
            .AllArchiveDataFiltersPrice{
                margin-bottom: 1rem;
                .AllArchiveDataFiltersPriceTitle{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: space-between;
                    align-items: center;
                    color: $text2;
                    letter-spacing: .5px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 1.571;
                    background: $frontBack2;
                    padding: 1rem;
                    border-radius: .5rem;
                    overflow: hidden;
                    min-width: 17rem;
                    cursor: pointer;
                    .AllArchiveDataFiltersItemsTitleOption{
                        color: #535353;
                        letter-spacing: .2px;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 1.571;
                        display: grid;
                        grid-template-columns: auto auto;
                        justify-content: right;
                        grid-gap: .5rem;
                        align-items: center;
                    }
                    i{
                        display: grid;
                        justify-content: center;
                        align-items: center;
                        svg{
                            width: .85rem;
                            height: .85rem;
                            fill: $text2;
                        }
                    }
                }
                .slide-fade-enter-active , .slide-fade-leave-active{
                    transition: all .3s ease;
                }
                .slide-fade-enter, .slide-fade-leave-to{
                    transform: translateY(-.5rem);
                }
                .AllArchiveDataFiltersPriceItem{
                    background: $frontBack2;
                    margin-top: -.7rem;
                    padding-top: .5rem;
                    .simple-range-slider-popover.simple-range-slider-popover-left , .simple-range-slider-popover-arrow , .simple-range-slider-popover{
                        background: $blue;
                        visibility: hidden;
                        opacity: 0;
                    }
                    .simple-range-slider-bg-bar{
                        margin: 1rem;
                        .simple-range-slider-anchor{
                            box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
                        }
                    }
                    .AllArchiveDataFiltersPriceItemNumbers{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        border: 1px solid #f5f5f5;
                        border-right: 0;
                        border-left: 0;
                        padding: .5rem 0;
                        margin-top: 2rem;
                        .AllArchiveDataFiltersPriceItemNumber{
                            display: grid;
                            grid-template-columns: 1fr;
                            span{
                                text-align: center;
                                font-size: .8rem;
                                line-height: 1.692;
                                letter-spacing: .3px;
                                color: #858585;
                            }
                            h5{
                                border-radius: 8px;
                                background-color: #fafafa;
                                display: inline-block;
                                overflow: hidden;
                                border: none;
                                margin: 6px;
                                text-align: center;
                                color: #3c3c3c;
                                font-size: .85rem;
                                line-height: 1.571;
                                letter-spacing: .3px;
                                padding: .5rem 0;
                            }
                            &:first-child{
                                border-left: 1px solid #f5f5f5;
                            }
                        }
                    }
                }
                .button{
                    background: $frontBack2;
                    width: 100%;
                    display: grid;
                    justify-content: center;
                    padding: 1rem 0;
                    border-bottom-right-radius: .5rem;
                    border-bottom-left-radius: .5rem;
                    button{
                        background-color: $blue;
                        border: 1px solid $blue2;
                        padding: 11px 31px;
                        color: white;
                        border-radius: .5rem;
                    }
                }
            }
        }
        .AllArchiveDataPosts{
            .paginate{
                padding: 1rem;
            }
            .AllArchiveDataPostsFilter{
                display: grid;
                grid-template-columns: repeat(auto-fit , minmax(1px ,auto));
                justify-content: right;
                align-items: center;
                background: $frontBack;
                border-bottom: 1px solid #f9f9f9;
                border-top-left-radius: .3rem;
                .AllArchiveDataPostsFilterItem{
                    h4{
                        cursor: pointer;
                        font-size: .9rem;
                        font-weight: 300;
                        padding: 1rem 0.5rem;
                        color: $text2;
                        width: 7rem;
                        border-top-right-radius: .3rem;
                        border-top-left-radius: .3rem;
                        text-align: center;
                    }
                    .active{
                        color: $blue;
                        border: 1px solid #f9f9f9;
                        border-bottom: 0;
                        margin-bottom: -1px;
                        background: white;
                        z-index: 2;
                    }
                }
            }
            .allSurprisingIndex{
                width: 100%;
                margin-top: 0;
                .allSurprisingIndexRight{
                    .allSurprisingIndexRightPic{
                        .hooper{
                            height: 20rem;
                        }
                    }
                }
                .allSurprisingIndexList{
                    .allSurprisingListItems{
                        min-height: 21rem;
                    }
                }
            }
            .AllArchiveDataPostsItems{
                display: grid;
                background: white;
                grid-template-columns: repeat(auto-fill , minmax(15rem , 1fr));
                overflow: hidden;
                .AllArchiveDataPostsItem{
                    border: .5px solid #f9f9f9;
                    border-top: 0;
                    position: relative;
                    .offProduct{
                        position: absolute;
                        top: .5rem;
                        left: .5rem;
                        z-index: 10;
                        .offProductItem{
                            position: relative;
                            svg{
                                width: 2.5rem;
                                height: 2.5rem;
                                fill: $green;
                            }
                            div{
                                position: absolute;
                                top: 0;
                                right: 0;
                                left: 0;
                                bottom: 0;
                                display: grid;
                                justify-content: center;
                                align-items: center;
                                width: 2.5rem;
                                height: 2.5rem;
                                span{
                                    font-size: .9rem;
                                    font-weight: 300;
                                    color: white;
                                }
                            }
                        }
                    }
                    .AllArchiveDataPostsItemPic{
                        position: relative;
                        padding: 0 1rem;
                        img{
                            width: 100%;
                            height: 15rem;
                            object-fit: contain;
                            transition: all .6s ease-in-out;
                            padding-top: 1rem;
                            &:nth-child(2){
                                visibility: hidden;
                                opacity: 0;
                                position: absolute;
                                right: 0;
                                bottom: 0;
                            }
                        }
                    }
                    .AllArchiveDataPostsItemSubject{
                        h3{
                            font-size: .8rem;
                            font-weight: 300;
                            color: $text2;
                            display: -webkit-box;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            padding: 1rem;
                            height: 4.1rem;
                            line-height: 28px;
                        }
                        .AllArchiveDataPostsItemSubjectPrice{
                            display: grid;
                            grid-template-columns: auto auto;
                            justify-content: left;
                            align-items: center;
                            grid-gap: .5rem;
                            padding: 0 .5rem;
                            margin: 1rem 0;
                            s{
                                font-size: .75rem;
                                font-weight: 300;
                                color: $text3;
                            }
                            h4{
                                display: grid;
                                grid-template-columns: auto auto;
                                justify-content: left;
                                align-items: center;
                                grid-gap: .3rem;
                                font-size: 1.1rem;
                                color: $text4;
                                font-weight: 500;
                                text-align: left;
                                span{
                                    font-size: .7rem;
                                    color: $text3;
                                    letter-spacing: .1px;
                                    font-weight: 300;
                                }
                            }
                        }
                        .checkCount{
                            border-bottom: 1px solid #969696;
                            z-index: 2;
                            height: 27px;
                            position: relative;
                            width: 100%;
                            span{
                                color: #ababab;
                                font-size: 1rem;
                                line-height: 1.222;
                                font-weight: 400;
                                position: absolute;
                                left: 50%;
                                -webkit-transform: translate(-50%,-50%);
                                transform: translate(-50%,-50%);
                                top: 125%;
                                background: white;
                                padding: 0 1rem;
                                height: 31px;
                            }
                        }
                    }
                    i{
                        position: absolute;
                        top: .5rem;
                        right: .5rem;
                        padding: .5rem;
                        cursor: pointer;
                        svg{
                            width: 1rem;
                            height: 1rem;
                            &:nth-child(2){
                                visibility: hidden;
                                opacity: 0;
                                position: absolute;
                            }
                        }
                        .active{
                            fill: $red;
                        }
                    }
                    &:hover{
                        box-shadow: 0 2px 17px 0 rgba(0,0,0,.09);
                        border-left: .5px solid transparent;
                        border-right: .5px solid transparent;
                        img{
                            &:nth-child(1){
                                bottom: 0;
                                right: 0;
                                visibility: hidden;
                                opacity: 0;
                                position: absolute;
                            }
                            &:nth-child(2){
                                position: relative;
                                bottom: auto;
                                visibility: visible;
                                opacity: 1;
                                right: auto;
                            }
                        }
                    }
                }
            }
        }
    }
    .allComparison{
        position: fixed;
        z-index: 900;
        bottom: 0;
        width: 100%;
        background: white;
        box-shadow: 0 1px 15px rgba(0,0,0,0.3);
        padding: 1rem 0;
        .allComparisonBlock{
            width: 98%;
            margin: auto;
            .allComparisonTitle{
                display: grid;
                grid-template-columns: repeat(auto-fit,minmax(1px,auto));
                justify-content: right;
                align-items: center;
                grid-gap: 1rem;
                button{
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: center;
                    align-items: center;
                    grid-gap: 1rem;
                    background: $comparison;
                    padding: .5rem 1rem;
                    color: white;
                    border-radius: .3rem;
                    height: 3.5rem;
                    width: 9rem;
                    font-size: 1rem;
                    font-weight: 500;
                    svg{
                        width: 1.1rem;
                        height: 1.1rem;
                        fill: white;
                    }
                }
                .allComparisonTitleItem{
                    position: relative;
                    img{
                        width: 3.5rem;
                        height: 3.5rem;
                        object-fit: contain;
                    }
                    i{
                        position: absolute;
                        right: 0.1rem;
                        top: 0.1rem;
                        cursor: pointer;
                        svg{
                            width: .8rem;
                            height: .8rem;
                            fill: $red;
                        }
                    }
                }
            }
        }
        .comparePostsContainerIndex{
            position: fixed;
            top: 0;
            right: 0;
            z-index: 999;
            background: rgba(0 , 0 ,0 , .8);
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            align-items: center;
            .comparePostsContainerItems{
                width: 95%;
                height: 90%;
                margin: auto;
                background: white;
                border-radius: .3rem;
                overflow-y: scroll;
                table{
                    display: grid;
                    grid-template-columns: 1fr;
                    tr{
                        display: grid;
                        grid-template-columns: repeat(7 , 1fr);
                        th{
                            position: relative;
                            padding: 1rem;
                            border-left: 1px solid #EAEAEA;
                            h5{
                                font-size: 1.1rem;
                                font-weight: 900;
                            }
                            .comparePostsContainerItemsPic{
                                img{
                                    height: 13rem;
                                    object-fit: contain;
                                }
                            }
                            .comparePostsContainerItemsDelete{
                                position: absolute;
                                right: .5rem;
                                top: .5rem;
                                width: 1.5rem;
                                height: 1.5rem;
                                border-radius: 5rem;
                                display: grid;
                                justify-content: center;
                                align-items: center;
                                cursor: pointer;
                                z-index: 100;
                                i{
                                    display: grid;
                                    justify-content: center;
                                    align-items: center;
                                    svg{
                                        width: 1.5rem;
                                        height: 1.5rem;
                                        fill: $text4;
                                    }
                                }
                            }
                            .comparePostsContainerItemsTitle{
                                h4{
                                    text-align: right;
                                    max-width: 99%;
                                    font-size: .7rem;
                                    line-height: 25px;
                                    color: #4A5F73;
                                    font-weight: 400;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    text-overflow: ellipsis;
                                    height: 3.5rem;
                                    overflow: hidden;
                                }
                            }
                            .comparePostsContainerItemsAddCart{
                                background: $red;
                                padding: .3rem .5rem;
                                border-radius: .3rem;
                                text-align: center;
                                color: white;
                                cursor: pointer;
                            }
                        }
                        td{
                            padding: .5rem;
                            border-left: 1px solid #EAEAEA;
                            h4{
                                font-size: .9rem;
                                font-weight: 700;
                                color: $text4;
                                text-align: right;
                            }
                            ul{
                                li{
                                    display: grid;
                                    grid-template-columns: auto auto;
                                    justify-content: right;
                                    align-items: center;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    grid-gap: 1rem;
                                    &:before{
                                        border-radius: 10px;
                                        width: 5px;
                                        height: 5px;
                                        background-color: $text2;
                                        content: "";
                                        display: inline-block;
                                    }
                                }
                            }
                            span{
                                display: grid;
                                grid-template-columns: repeat(auto-fit , minmax(5px , auto));
                                justify-content: center;
                                align-items: center;
                                font-size: 13px;
                                font-style: normal;
                                font-weight: normal;
                                line-height: 32px;
                                text-align: center;
                                color: #535353;
                            }
                        }
                        &:first-child{
                            padding: 0;
                            display: grid;
                            grid-template-columns: 1fr;
                            th{
                                display: grid;
                                grid-template-columns: auto auto;
                                justify-content: space-between;
                                padding: .5rem;
                                h5{
                                    font-weight: 400;
                                    color: $text2;
                                }
                                .comparePostsContainerItemsClose{
                                    width: 2rem;
                                    height: 2rem;
                                    background: white;
                                    border-radius: 5rem;
                                    display: grid;
                                    justify-content: center;
                                    align-items: center;
                                    cursor: pointer;
                                    z-index: 100;
                                    position: fixed;
                                    left: 2rem;
                                    top: 1.5rem;
                                    i{
                                        display: grid;
                                        justify-content: center;
                                        align-items: center;
                                        svg{
                                            width: 2rem;
                                            height: 2rem;
                                            fill: $text2;
                                        }
                                    }
                                }
                            }
                        }
                        &:nth-child(odd){
                            background: #EAEAEA;
                            padding: .5rem;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1000px) {
    .AllArchive{
        .AllArchiveTitle{
            ul {
                li {
                    a {
                        margin: 0 5px 0 0;
                        padding: 0 1rem;
                        h4{
                            font-size: .6rem;
                        }
                        svg{
                            position: absolute;
                            top: 0;
                            visibility: hidden;
                        }
                    }
                }
            }
        }
        .AllArchiveCategories{
            .AllArchiveCategoriesItems{
                grid-template-columns: 1fr 1fr;
            }
        }
        .AllArchiveData{
            display: block;
            .AllArchiveDataFilters {
                .AllArchiveDataFiltersShowcase {
                    .hooper {
                        width: 100%;
                    }
                }
            }
            .AllArchiveDataPosts{
                .AllArchiveDataPostsFilter{
                    .AllArchiveDataPostsFilterItem{
                        h4{
                            font-size: .5rem;
                            font-weight: 300;
                            padding: .5rem 0.3rem;
                            color: $text2;
                            width: 4rem;
                        }
                    }
                }
                .AllArchiveDataPostsItems{
                    grid-template-columns: 1fr 1fr;
                    .AllArchiveDataPostsItem{
                        .AllArchiveDataPostsItemPic{
                            position: relative;
                            padding: 0 1rem;
                            img{
                                height: 8rem;
                            }
                        }
                        .AllArchiveDataPostsItemSubject{
                            h3{
                                font-size: .7rem;
                            }
                            .AllArchiveDataPostsItemSubjectPrice{
                                s{
                                    font-size: .6rem;
                                }
                                h4{
                                    font-size: .7rem;
                                    span{
                                        font-size: .6rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .comparePostsContainerIndex{
            .comparePostsContainerItems{
                width: 98%;
                table{
                    tr{
                        th{
                            padding: .5rem;
                            h5{
                                font-size: .8rem;
                                font-weight: 700;
                            }
                            .comparePostsContainerItemsPic{
                                img{
                                    height: 8rem;
                                }
                            }
                            .comparePostsContainerItemsTitle{
                                h4{
                                    font-size: .5rem;
                                    font-weight: 300;
                                }
                            }
                            .comparePostsContainerItemsAddCart{
                                padding: .3rem;
                            }
                        }
                        td{
                            padding: .3rem;
                            h4{
                                font-size: .7rem;
                                font-weight: 300;
                            }
                            span{
                                font-size: 10px;
                            }
                        }
                        &:first-child{
                            th{
                                padding: .3rem;
                                h5{
                                    font-weight: 300;
                                }
                            }
                        }
                        &:nth-child(odd){
                            padding: .3rem;
                        }
                    }
                }
            }
        }
    }
}
